<%
    raise "Missing 'icon_color' key in structured_text landing page block" unless local_assigns['icon_color']
    raise "Missing 'icon' key in structured_text landing page block" unless local_assigns['icon']
    raise "Missing 'header' key in structured_text landing page block" unless local_assigns['header']
    raise "Missing 'text' key in structured_text landing page block" unless local_assigns['text'] 
%>

<h2 class="Vlt-title--icon">
    <svg class="Vlt-<%= local_assigns['icon_color'] %>"><use xlink:href="/symbol/volta-icons.svg#Vlt-<%= local_assigns['icon'] %>"></use></svg>
    <%= local_assigns['header'] %>
</h2>
<% local_assigns['text'] ||= [] %>
<% local_assigns['text'].each do |text| %>
    <% if text['type'] == 'large' %>
        <p class="p-large">
            <%= text['content'].render_markdown({skip_paragraph_surround: true}) %>
        </p>
    <% elsif text['type'] == 'small' %>
        <%= text['content'].render_markdown %>
    <% else 
        raise "Unknown text type: #{text['type']}"
    end %>
<% end %>
