<%
    raise "Missing 'header' key in structured_text landing page block" unless local_assigns['header']
    raise "Missing 'text' key in structured_text landing page block" unless local_assigns['text']
    raise "Missing 'icon color' key in structured_text landing page icon block" if (local_assigns['icon'] && local_assigns['icon']['color'].nil?)
    raise "Missing 'icon name' key in structured_text landing page icon block" if (local_assigns['icon'] && local_assigns['icon']['name'].nil?)
%>
<h2 class="Vlt-title--icon" id="<%= local_assigns['header'].parameterize %>">
    <% if local_assigns['icon'] %>
        <svg class="Vlt-<%= local_assigns['icon']['color'] %>"><use xlink:href="<%= local_assigns['icon']['name'].start_with?("Brand") ? "/symbol/volta-brand-icons.svg##{local_assigns['icon']['name']}" : "/symbol/volta-icons.svg#Vlt-#{local_assigns['icon']['name']}" %>"></use></svg>
    <% end %>
    <%= local_assigns['header'] %>
</h2>
<% local_assigns['text'] ||= [] %>
<% local_assigns['text'].each do |text| %>
    <% if text['type'] == 'large' %>
        <p class="p-large">
            <%= text['content'].render_markdown({skip_paragraph_surround: true}) %>
        </p>
    <% elsif text['type'] == 'small' %>
        <%= text['content'].render_markdown %>
    <% else 
        raise "Unknown text type: #{text['type']}"
    end %>
<% end %>