<footer id="footer">
  <% info = Footer.new.items %>

  <div class="container">
    <div class="Vlt-grid">
      <div id="footer-outbound-links" class="Vlt-col">
        <div class="Nxd-logo Vlt-white" id="footer-logo">
          <a href="/" class="Nxd-logo__image">
            <%= image_tag '/vonage_developer_logo.svg', alt: 'Vonage Developer Logo' %>
          </a>
        </div>

        <% if info[:status] %>
          <a href=<%= info[:status]['path'] %> target="_blank" class="Vlt-badge-combined" rel="noopener">
            <span class="Vlt-badge Vlt-white Nxd-api-badge"><%= info[:status]['text'] %></span><span class="Vlt-badge Vlt-badge--purple Nxd-api-status">Loading</span>
          </a>
        <% end %>

        <% if info[:social_links] %>
          <div id="footer-social-links">
            <% info[:social_links].each do |target, url| %>
              <a href=<%= url %> class="footer-link" target="_blank" rel="noopener" title="<%= target %>">
                <svg class="Vlt-icon Vlt-grey">
                  <use xlink:href="/symbol/volta-brand-icons.svg#Brand-icon-<%= target %>" />
                </svg>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="Vlt-col"></div>

      <% info[:navigation_links].each do |topic_arr| %>
        <div class="Vlt-col">
          <h5><p><b><%= Footer.navigation_category_titleize(topic_arr[0]) %></b></p></h5>
          <% topic_arr[1].each do |link| %>
            <a href="<%= Footer.navigation_link(link) %>" class="Vlt-grey"><p><%= Footer.navigation_link_text(link) %></p></a>
          <% end %>
        </div>
      <% end %>

      <div id="footer-support" class="Vlt-col">
        <h5><p><b>Support</b></p></h5>
        <% info[:support_links].each do |name, url| %>
          <a href=<%= Footer.support_link(url) %> target="_blank" rel="noopener" class="Vlt-grey"><p><%= Footer.support_link_text(name) %></p></a>
        <% end %>
      </div>
    </div>
  </div>
</footer>
