<% header = Header.new %>
<%= render partial: 'layouts/partials/post-body-tags' %>

<div class="Adp-header">
  <header id="header" class="Adp-header__main Vlt-M-plus">
    <a tabindex="0" id="skip-to-navigation" href="#sidenav-first" class="Vlt-btn Vlt-btn--outline Vlt-btn--primary Vlt-btn--app">Skip to navigation</a>
    <a tabindex="0" id="skip-to-content" href="#primary-content" class="Vlt-btn Vlt-btn--outline Vlt-btn--primary Vlt-btn--app">Skip to content</a>

    <nav class="Adp-header__nav">
      <a href="https://vonage.com" title="Vonage.com" target="_blank" rel="noopener noreferrer" class="Vlt-grey">
        Vonage.com
        <svg class="Vlt-icon Vlt-icon--large Vlt-grey">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-outbound" />
        </svg>
      </a>
      <a href="https://www.vonage.co.uk/communications-apis/pricing/?icmp=l3nav_pricing_novalue" title="Pricing" target="_blank" rel="noopener noreferrer" class="Vlt-grey">
        Pricing
        <svg class="Vlt-icon Vlt-icon--large Vlt-grey">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-outbound" />
        </svg>
      </a>
      <a href="https://help.nexmo.com/hc/en-us" title="Support" target="_blank" rel="noopener noreferrer" class="Vlt-grey">
        Support
        <svg class="Vlt-icon Vlt-icon--large Vlt-grey">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-outbound" />
        </svg>
      </a>

      <%= render partial: 'layouts/partials/locale_switcher' %>

      <a href=<%= header.sign_up_path %> class="Vlt-btn--white Vlt-btn--app Vlt-btn--outline Vlt-btn--small" id="signup" data-ab="try_button_v2"><b>
          <% ab_test(:try_button_v2, header.sign_up_text.map { |s| ["{ #{t(".#{s}")} }", "< #{t(".#{s}")} />"] }.flatten) do |s| %>
            <%= s %>
          <% end %>
        </b>
      </a>
    </nav>
  </header>

  <section id="subnav" class="Adp-header__sub">
    <div class="Vlt-header__backdrop"></div>
    <nav>
      <a href="/" class="subnav-logo">
        <%= image_tag '/vonage_developer_logo.svg', alt: 'Vonage Developer Logo', class: 'logo' %>
      </a>

      <ul class="Adp-header__sub__menu Vlt-M-plus">
        <li class="Vlt-tabs__link">
          <a href="/use-cases"><p><b class="Vlt-white"><%= I18n.t('layouts.partials.header.use-cases') %></b></p></a>
        </li>
        <li class="Vlt-tabs__link">
          <a href="/documentation"><p><b class="Vlt-white"><%= I18n.t('layouts.partials.header.documentation') %></b></p></a>
        </li>
        <li class="Vlt-tabs__link Vlt-tabs__link-menu">
          <button class="Vlt-btn Vlt-btn--link">
            <p><b class="Vlt-white"><%= I18n.t('layouts.partials.header.tools') %></b></p>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-grey">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-down" />
            </svg>
          </button>
          <div class="Vlt-topmenu">
            <div class="Vlt-topmenu__items">
              <div class="Vlt-topmenu__item">
                <a href="/tools"><p><b class="Vlt-white"><%= I18n.t('layouts.partials.header.tools') %></b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="/extend"><p><b class="Vlt-white">Integrations</b></p></a>
              </div>
            </div>
          </div>
        </li>
        <li class="Vlt-tabs__link Vlt-tabs__link-menu">
          <button class="Vlt-btn Vlt-btn--link">
            <p><b class="Vlt-white"><%= I18n.t('layouts.partials.header.community') %></b></p>
            <svg class="Vlt-icon Vlt-icon--smaller Vlt-grey">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-down" />
            </svg>
          </button>


          <div class="Vlt-topmenu">
            <div class="Vlt-topmenu__items">
              <div class="Vlt-topmenu__item">
                <a href="/community"><p><b class="Vlt-white">Community hub</b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="/devtv"><p><b class="Vlt-white">DevTV</b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="/startups"><p><b class="Vlt-white">Startup program</b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="/voyagers"><p><b class="Vlt-white">Voyagers program</b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="https://stackoverflow.com/questions/tagged/nexmo" target='_blank' rel='noopener noreferrer'><p><b class="Vlt-white">Stackoverflow</b></p></a>
              </div>
              <div class="Vlt-topmenu__item">
                <a href="https://github.com/vonage" target='_blank' rel='noopener noreferrer'><p><b class="Vlt-white">Github</b></p></a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <svg class="Vlt-icon Vlt-icon--large Vlt-grey Vlt-S-only Adp-header__hamburger">
        <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-menu" />
      </svg>
    </nav>

    <% if search_enabled? %>
      <%= form_tag '/search', method: :get, class: 'Vlt-M-plus' do %>
        <div id="search-app">
          <input type="text" id="searchbox" name="query" placeholder="Search" name="query" autocomplete="off" value="<%= @search_term || '' %>">
        </div>
      <% end %>
    <% end %>
  </section>
</div>
