<% head = Head.new(@frontmatter) %>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% if head.google_site_verification %>
    <meta name="google-site-verification" content=<%= head.google_site_verification %> />
  <% end %>
  <title><%= page_title %></title>

  <% if head.description %>
    <meta name="description" content="<%= head.description %>">
  <% end %>

  <%
    # Note: We use a different API Key for fontend since Bugsnag gives different project options
    #       depending on the technology that was chosen for the product.
  %>

  <% if ENV['BUGSNAG_JS_API_KEY'] %>
    <% if ['staging', 'production'].include? Rails.env %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
      <script>
        window.bugsnagClient = bugsnag('<%= ENV['BUGSNAG_JS_API_KEY'] %>')
        bugsnagClient.app.releaseStage = '<%= Rails.env %>'
      </script>
    <% end %>
  <% end %>

  <% if ENV['SEGMENT_WRITE_KEY'] %>
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("<%= ENV['SEGMENT_WRITE_KEY'] %>");
      analytics.page();
      }}();
    </script>
  <% end %>

  <% if ENV['HOTJAR_ID'] %>
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:<%= ENV['HOTJAR_ID'] %>,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  <% end %>

  <% if content_for? :canonical %>
    <link rel="canonical" href=<%= yield :canonical %> />
  <% else %>
    <link rel="canonical" href="<%= canonical_url %>">
  <% end %>

  <% if content_for? :header_img_url %>
    <meta property="og:image" content="<%= yield(:header_img_url).strip %>" />
  <% else %>
    <meta property="og:image" content="<%= canonical_base %>/<%= head.og_image %>" />
  <% end %>

  <% if content_for? :title %>
    <meta property="og:title" content="<%= yield(:title).strip %>" />
  <% else %>
    <meta property="og:title" content="<%= page_title %>" />
  <% end %>

  <% if content_for? :description %>
    <meta property="og:description" content="<%= yield(:description).strip %>" />
  <% else %>
    <meta property="og:description" content="<%= head.description %>"/>
  <% end %>

  <%= javascript_include_tag 'application', defer: true %>

  <%= javascript_packs_with_chunks_tag 'application', defer: true %>

  <% if ENV['ENVIRONMENT_SCRIPTS'] %>
    <%= ENV['ENVIRONMENT_SCRIPTS'].html_safe %>
  <% end %>

  <% if ENV['ADOBE_LAUNCH_URL'] %>
    <script src='<%= ENV['ADOBE_LAUNCH_URL'] %>' async></script>
  <% end %>

  <%= stylesheet_pack_tag 'application', preload: true %>
  <%= stylesheet_link_tag 'application', preload: true %>

  <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js', async: true, defer: true %>

  <% if ENV['ALLOW_ROBOTS'].nil? || ENV['ALLOW_ROBOTS'] != 'true' %>
    <meta name="robots" content="noindex,nofollow">
  <% end %>

  <%# GOOGLE Search Console %>
  <meta name="google-site-verification" content="9Q-vd-4LjSh4PclSWgcrmiXC1Dcftvh8LhDov11c_n4" />

  <link rel="apple-touch-icon" sizes="180x180" href="<%= canonical_base %>/<%= head.apple_touch_icon %>">
  <link rel="icon" type="image/png" sizes="any" href="<%= canonical_base %>/<%= head.favicon %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= canonical_base %>/<%= head.favicon_32_squared %>">
  <link rel="manifest" href="<%= canonical_base %>/<%= head.manifest %>">
  <link rel="mask-icon" href="<%= canonical_base %>/<%= head.safari_pinned_tab %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content=<%= head.title %>>
  <meta name="application-name" content=<%= head.application_name %>>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= canonical_base %>/<%= head.mstile_144_squared %>">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:url" content="<%= canonical_base + request.fullpath %>" />
  <meta property="og:type" content="article" />

  <meta property="og:image:width" content=<%= head.og_image_width %> />
  <meta property="og:image:height" content=<%= head.og_image_height %> />

  <meta name="twitter:card" content="summary_large_image" />

  <meta name="basic_auth_username" content="<%= ENV['USERNAME'] %>" />
  <meta name="basic_auth_password" content="<%= ENV['PASSWORD'] %>" />
  <meta name="search_url" content="<%= ENV['SEARCH_URL'] %>" />
  <meta name="environment" content="<%= Rails.env %>" />

  <meta name="algolia_application_id" content="<%= ENV['ALGOLIA_APPLICATION_ID'] %>" />

  <% if search_enabled? %>
    <meta name="algolia_search_key" content="<%= ALGOLIA_SECURED_SEARCH_KEY %>" />

    <% ALGOLIA_CONFIG.keys.each do |index| %>
      <meta name="algolia_index" content="<%= index %>" />
    <% end %>
  <% end %>

  <meta name="copyright" content="<%= Time.current.year %> <%= head.application_name %>" />

  <%= csrf_meta_tags %>
</head>
