<% presenter = LocaleSwitcherPresenter.new(request) %>
<% if presenter.multiple_locales? %>
  <div class="Vlt-dropdown" id="locale-switcher">
    <div class="Vlt-dropdown__trigger Vlt-dropdown__trigger--block Vlt-dropdown__trigger--btn">
      <%= button_tag type: :button, class: "Vlt-btn Vlt-btn--secondary Vlt-btn--app Vlt-grey", disabled: presenter.disabled? do %>
        <span class="Vlt-dropdown__selection">
          <span class="Nxd-locale">
            <%= presenter.current_locale %>
          </span>
        </span>
      <% end %>
    </div>
    <% unless presenter.disabled? %>
      <div class="Vlt-dropdown__panel">
        <div class="Vlt-dropdown__panel__content">
          <% presenter.locales.each do |locale| %>
            <div class="Vlt-dropdown__link <%= locale.value == presenter.current_locale ? 'Vlt-dropdown__link--selected' : '' %>" data-locale="<%= locale.data %>" role="link">
              <span class="Vlt-dropdown__label">
                <%= locale.value %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
