<div class="Vlt-dropdown">
  <div class="Vlt-dropdown__trigger Vlt-dropdown__trigger--btn">
    <button class="Vlt-dropdown__btn Vlt-btn--app">
      <span class="Vlt-dropdown__selection"><%= params[:code_language] && Nexmo::Markdown::CodeLanguage.find(params[:code_language]).label || t('any_language') %></span>
    </button>
  </div>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <a class="Vlt-dropdown__link" href="<%= url_for(controller: controller_name, action: action_name, product: params[:product], code_language: nil) %>"><%= t('any_language') %></a>
      <hr class="hr--short"></hr>
      <% LanguagesDropdownPresenter.new.options.each do |option| %>
        <a class="Vlt-dropdown__link" href="<%= url_for(controller: controller_name, action: action_name, product: params[:product], code_language: option.code_language) %>">
          <%= render 'code_languages/icon', code_language: option.code_language, css_classes: 'Vlt-dropdown__link__icon' %>
        </a>
        <hr class="hr--short"></hr>
      <% end %>
    </div>
  </div>
</div>
