<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="Nxd-template" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div id="Vlt-sidenav" class="Vlt-sidenav Nxd-sidenav Vlt-sidenav--animate Vlt-sidenav--rounded">
      <div class="Vlt-sidenav__block Vlt-sidenav__block--logo">
        <div id="Vlt-sidenav-collapse-trigger" class="Vlt-sidenav__collapse">
          <svg class="Vlt-sidenav__collapse__close"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chevron-left"></use></svg>
          <svg class="Vlt-sidenav__collapse__open"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-menu"></use></svg>
        </div>
      </div>
      <div class="Vlt-sidenav__scroll">
        <nav class="sidenav" id="sidenav" data-active="<%= active_sidenav_item %>" aria-label="Documentation">
            <%= render partial: 'layouts/partials/sidenav' %>
        </nav>
      </div>
    </div>
    <main class="Vlt-main Nxd-main">
      <%= render partial: 'layouts/partials/notices' %>
      <div class="Vlt-grid">
        <div class="Vlt-col Vlt-col--3of4 Nxd-tutorial">
          <%= yield %>
          <%= render partial: 'layouts/partials/improve_this_page' %>
        </div>
        <div class="Vlt-col Vlt-col--1of4 Vlt-sidenav Nxd-tutorial-sidenav">
            <ul><li class="Vlt-sidemenu Vlt-sidemenu--flat"><h4>On this page: </h4></li></ul>
            <%= navigation_from_content(content: @content) %>
        </div>
       </div>
    </main>
    <%= render partial: 'layouts/partials/feedback' %>
  </body>
</html>