<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="Nxd-template" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div id="Vlt-sidenav" class="Vlt-sidenav Nxd-sidenav Vlt-sidenav--animate Vlt-sidenav--rounded">
      <div class="Vlt-sidenav__block Vlt-sidenav__block--logo">
        <div id="Vlt-sidenav-collapse-trigger" class="Vlt-sidenav__collapse">
          <svg class="Vlt-sidenav__collapse__close"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-chevron-left"></use></svg>
          <svg class="Vlt-sidenav__collapse__open"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-menu"></use></svg>
        </div>
      </div>
      <div class="Vlt-sidenav__scroll">
        <nav class="sidenav" id="sidenav" data-active="<%= active_sidenav_item %>" aria-label="Documentation">
          <% cache_unless params[:namespace].present?, ['sidenav', I18n.locale] do %>
            <%= render partial: 'layouts/partials/sidenav' %>
          <% end %>
        </nav>
      </div>
    </div>
    <main class="Vlt-main Nxd-main">
      <%= render partial: 'layouts/partials/notices' %>
      <div class="Vlt-article">
        <div id="primary-content" tabindex="-1"></div>
        <%= yield %>
        <%= render partial: 'layouts/partials/improve_this_page' %>
      </div>
    </main>
    <%= render partial: 'layouts/partials/feedback' %>
    <script type=“text/javascript”>_satellite.pageBottom();</script>
  </body>
</html>
