<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="<%= theme %> Adp-landing <%= @homepage && 'Adp-homepage' %>" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper wrapper--tint">
      <%= render partial: 'layouts/partials/notices' %>

      <div id='hello'>
        <jwt-generator></jwt-generator>
      </div>
      <%= yield %>
    </div>
    <% if @homepage %>
      <%= render partial: 'layouts/partials/footer' %>
    <% end %>
    <script type=“text/javascript”>_satellite.pageBottom();</script>
  </body>
</html>
