<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="oas-page" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <%= yield %>
    <%= render partial: 'layouts/partials/feedback' %>
    <script type=“text/javascript”>_satellite.pageBottom();</script>
  </body>
</html>
