<% unless @use_cases.count.positive? %>
  <div class="Vlt-callout Vlt-callout--warning">
    <i></i>
    <div class="Vlt-callout__content">
      No use cases available in this language
    </div>
  </div>
  <% else %>
<div class="masonry">
  <% @use_cases.each_with_index do |use_case, index| %>
    <div class="item">
      <div class="Vlt-card Vlt-card--image Nxd-card--tutorials">
        <div class="Vlt-card__image Vlt-card__image--tech Vlt-gradient--blue-to-purple">
          <a
            href="<%= url_for(controller: 'use_case', action: :index, product: use_case.products.join(''), code_language: @language, only_path: true) %>"
            class="Vlt-badge Vlt-badge--large Nxd-tutorials__product Vlt-badge--<%= Card::COLOUR.fetch(use_case.subtitle, 'blue') %>"
          >
            <%= use_case.subtitle %>
          </a>
        </div>

        <a href="<%= url_for(controller: 'use_case', action: :show, document: use_case.relative_path, only_path: true) %>">
          <div class="Vlt-card__content">
            <h2>
              <span><%= use_case.title %></span>
            </h2>
            <p><%= use_case.description %></p>
        </a>

        <% if use_case.languages.count > 0 %>
          <% use_case.languages.each do |language| %>
            <a
              href="<%= url_for(controller: 'use_case', action: :index, product: @product, code_language: language.downcase, only_path: true) %>"
            >
              <small class="Vlt-grey-darker Nxd-tutorials__language Nxd-tutorials__language--<%= language %>"><span>●</span> <%= language == "Objective_C" ? "Objective-C" : language %></small>
            </a>
            <% end %>
          <% end %>

          <div class="Vlt-card__cta">
            <a href="<%= url_for(controller: 'use_case', action: :show, document: use_case.relative_path, only_path: true) %>" class="Vlt-btn Vlt-btn--tertiary">
            Read more
            </a>
          </div>
        </div>
    </div>
    </div>
  <% end %>
</div>
<% end %>
