<h1>Use Cases</h1>

<div class="Nxd-use-cases--filters">
  <strong>Filter: &nbsp;&nbsp;</strong>
  <div class="Vlt-dropdown">
    <button class="Vlt-dropdown__btn">
      Choose a language
    </button>
    <div class="Vlt-dropdown__panel">
      <div class="Vlt-dropdown__panel__content">
        <ul>
          <% @languages.each do |lang| %>
          <li>
            <a
              class="Vlt-dropdown__link"
              href="<%= url_for(controller: :use_case, action: :index, product: params[:product], code_language: lang.key)%>"
            >
              <svg style="height: 20px; width: 20px;" ><use xlink:href="/assets/images/brands/<%= lang.icon %>.svg#<%= lang.icon %>"></use></svg><span><%= lang.label %></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <div class="Vlt-dropdown">
    <button class="Vlt-dropdown__btn">
      Choose a product
    </button>
    <div class="Vlt-dropdown__panel">
      <div class="Vlt-dropdown__panel__content">
        <ul>
          <% Product.all.each do |product| %>
            <li>
              <a
                class="Vlt-dropdown__link"
                href="<%= url_for(controller: :use_case, action: :index, product: product['path'], code_language: @language)%>"
                >
                <svg style="height: 20px; width: 20px;" class="Vlt-gray-darker"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-<%= product['icon'] %>"></use></svgc><span><%= product['name'] %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>

<p>Get started with Nexmo with tutorials that will walk you through building a variety of practical applications</p>

<%= render 'index' %>
