<h1>Use Cases</h1>

<p>Get started with tutorials that will walk you through building a variety of practical applications</p>

<div class="Nxd-use-cases--filters">
<%= render partial: 'layouts/partials/programming_languages_dropdown', controller_name: :tutorial, action_name: :list, locals: {item_list: @use_cases } %>

  <div class="Vlt-dropdown">
    <button class="Vlt-dropdown__btn Vlt-btn--app"><%= t('any_product') %></button>
    <div class="Vlt-dropdown__panel">
      <div class="Vlt-dropdown__panel__content">
        <ul>
          <% ProductDropdownPresenter.new(Nexmo::Markdown::UseCase.all).options.each do |option| %>
            <li>
              <a
                class="Vlt-dropdown__link"
                href="<%= url_for(controller: :use_case, action: :index, product: option.path, code_language: @language)%>"
                >
                <svg style="height: 20px; width: 20px;" class="Vlt-gray-darker Vlt-dropdown__link__icon">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-<%= option.icon %>"></use>
                </svg>
                <span><%= option.name %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>

<%= render 'index' %>
