<div>
  <div class="slate-layout-documentation">
    <div>
      <%= content_tag :h3, endpoint.summary, id: endpoint.operationId %>
      <%= content_tag :p, endpoint.description %>

      <div class="api-path">
        <span class="api-path-method api-path-method--<%= endpoint.method %>"><%= endpoint.method.upcase %></span>
        <code>
          <span class="api-path-host"><%= endpoint.definition.servers[0]['url'] %></span>
          <%= endpoint.path.path.gsub(/\{(.+?)\}/, '<span class="api-path-parameter">:\1</span>').html_safe %>
        </code>
      </div>

      <% if endpoint.jwt? %>
        <h4>Authentication</h4>
        <ul class="table-list table-list--dark">
          <li class="table-list-header">
            <div class="table-list-columns">
              <div class="table-list-column" flex="2">Key</div>
              <div class="table-list-column" flex="3">Description</div>
              <div class="table-list-column" flex="2">Example</div>

              <% if endpoint.jwt_scopes.any? %>
                <div class="table-list-column">Scopes Required</div>
              <% end %>

              <div class="table-list-column">Default</div>
            </div>
          </li>
          <li>
            <div class="table-list-columns">
              <div class="table-list-column" flex="2">
                <b>Authorization</b>
                <br>
                <small>
                  <span class="flag flag--strong">REQUIRED</span> | <i>string</i>
                </small>
              </div>
              <div class="table-list-column" flex="3">
                <b>Your JSON web token</b><br>
                <small><%= link_to "Read more about JWTs", "/concepts/guides/authentication#json-web-tokens-jwt" %></small>
              </div>
              <div class="table-list-column" flex="2"><code>Bearer &lt;JWT&gt;</code></div>

              <% if endpoint.jwt_scopes.any? %>
                <div class="table-list-column">
                  <code><%= endpoint.jwt_scopes %></code>
                </div>
              <% end %>

              <div class="table-list-column">
                <i>None</i>
              </div>
            </div>
          </li>
        </ul>
      <% end %>

      <%= render 'parameter_groups', endpoint: endpoint %>
    </div>
  </div>

  <div class="slate-layout-code">
    <div class="slate-layout-code__inner">
      <br>
      <%= render 'code_examples', endpoint: endpoint %>

      <% endpoint.responses.each do |response| %>
        <% id = SecureRandom.hex %>

        <h4 class="collapsible <%= response.success? ? 'collapsible--active' : '' %>">
          <a class="js-collapsible" data-collapsible-id="<%= id %>">
            <span class="label label--status--<%= response.code[0] %>xx"><%= response.code %></span> HTTP response
          </a>
        </h4>
        <div id="<%= id %>" style="display: <%= response.success? ? 'block' : 'none' %>;">
          <% response.formats.each do |format| %>
            <p><%= format %></p>
            <%= ResponseParserDecorator.new(response.schema(format)).html %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% endpoint.callbacks.each do |callback| %>
  <%= render 'callback', callback: callback %>
<% end %>
