<div>
  <div class="slate-layout-documentation">
    <div>
      <h3 id="<%= endpoint.id %>"><%= endpoint.title %></h3>
      <p><%= endpoint.description %></p>

      <div class="api-path">
        <span class="api-path-method api-path-method--<%= endpoint.method %>"><%= endpoint.method.upcase %></span>
        <code>
          <span class="api-path-host"><%= endpoint.server %></span>
          <%= endpoint.path.gsub(/\{(.+?)\}/, '<span class="api-path-parameter">:\1</span>').html_safe %>
        </code>
      </div>

      <% if endpoint.jwt? %>
        <h3>Authentication</h3>
        <ul class="table-list table-list--dark">
          <li class="table-list-header">
            <div class="table-list-columns">
              <div class="table-list-column" flex="2">Key</div>
              <div class="table-list-column" flex="2">Description</div>
              <div class="table-list-column">Type</div>
              <div class="table-list-column">Example</div>
              <div class="table-list-column">Default</div>

              <% if endpoint.jwt_scopes.any? %>
                <div class="table-list-column">Scopes Required</div>
              <% end %>

              <div class="table-list-column">Required</div>
            </div>
          </li>
          <li>
            <div class="table-list-columns">
              <div class="table-list-column" flex="2"><code>Authorization</code></div>
              <div class="table-list-column" flex="2">
                <b>Your JSON web token</b><br>
                <small><%= link_to "Read more about JWTs", "/concepts/guides/authentication#json-web-tokens-jwt" %></small>
              </div>
              <div class="table-list-column"><code>string</code></div>
              <div class="table-list-column"><code>Bearer &lt;JWT&gt;</code></div>
              <div class="table-list-column"><i>None</i></div>

              <% if endpoint.jwt_scopes.any? %>
                <div class="table-list-column">
                  <code><%= endpoint.jwt_scopes %></code>
                </div>
              <% end %>

              <div class="table-list-column">
                <i class="icon icon--large icon-check-circle color--success"></i>
              </div>
            </div>
          </li>
        </ul>
      <% end %>

      <% if endpoint.path_parameters.any? %>
        <h4>Parameters</h4>
        <%= render 'parameters', parameters: endpoint.path_parameters %>
      <% end %>

      <% if endpoint.query_parameters.any? %>
        <h4>Query</h4>
        <%= render 'parameters', parameters: endpoint.query_parameters %>
      <% end %>

      <% if endpoint.request_body_parameters.any? %>
        <h4>Query</h4>
        <%= render 'parameters', parameters: endpoint.request_body_parameters %>
      <% end %>
    </div>
  </div>

  <div class="slate-layout-code">
    <div>
      <%= render_request(@specification_name, endpoint.path, endpoint.method) %>
      <%= endpoint.html %>
    </div>
  </div>
</div>
