<%
  model = false if local_assigns[:model].nil?
  callback = false if local_assigns[:callback].nil?
  format = nil if local_assigns[:format].nil?
%>

<% # @mheap: I'm not sure why this check is here. I checked other OAS docs and we may be able to remove it. It renders better if the else statement is triggered %>
<% if false && parameters[0] && parameters[0].subproperties_are_one_of_many? %>
    <h3>Any one of the following:</h3>
    <div style="margin-left: 20px;">
      <% parameters[0].properties.each do |property| %>
        <h4><%= property['description'] %></h4>
        <% if property['properties'][0].class == OasParser::Property %>
          <%= render 'parameters', parameters: property['properties'], model: model, callback: callback %>
        <% else %>
          <% dmsklandklsan %>
        <% end %>
      <% end %>
    </div>
<% else %>
<div class="Vlt-table Vlt-section Vlt-table--data Vlt-table--bordered">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Description</th>
        <% unless model %>
          <th>Example</th>
          <% unless callback %>
            <th>Default</th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% parameters.each do |parameter| %>    
      <tr class="<% if parameter.collection? %> Vlt-table__row--noline <% end %>">

          <td class="Vlt-table__cell--nowrap">
            <b><%= parameter.name %></b><br>
            <small>
              <% if parameter.required %>
                <span class="flag flag--strong">Required</span>
              <% end %>

              <% if @definition_initialization_config && @definition_initialization_config['formats'] %>
                <% if @definition_initialization_config['formats'].include? 'text/xml' %>
                  <span class="js-format" data-format="text/xml">
                    <% if parameter.is_xml_attribute? %>
                      | <span class="flag">Attribute</span>
                    <% end %>

                    <% if parameter.is_xml_text? %>
                      | <span class="flag">Value</span>
                    <% end %>
                  </span>
                <% end %>
              <% end %>

              <i>
                <% if parameter.required and parameter.type %>|<% end %> <%= parameter.type %>
                <% if parameter.format %>
                  | (<%= parameter.format %>)
                <% end %>
                <% if parameter.array? %>
                  <br>
                  <% if parameter.items && parameter.items['type'] %>
                    of <%= (parameter.items['type']) %>s
                  <% end %>
                <% end %>
              </i>
            </small>
          </td>



        <%
          # If it's a oneOf we show a list rather than description/example/default
          if parameter.oneOf?
        %>
          <td colspan="3">
            <h4>Any one of the following:</h4>
            <% parameter.properties.each do |property| %>
              <h5><%= property['description'] %></h5>
              <%= render 'parameters', parameters: property['properties'], model: model, format: format, callback: callback %>
            <% end %>
          </td>
        <%
          # Otherwise we show the remaining 3 columns
          else
        %>

          <td>
            <% if parameter.collection? or parameter.oneOf? %>
              <% if parameter.raw['x-nexmo-developer-collection-description-shown'] %>
                <%= (parameter.description ? "#{parameter.description}" : '<i>None</i>').render_markdown %>
              <% end %>
            <% else %>
              <%= (parameter.description ? "#{parameter.description}" : '<i>None</i>').render_markdown %>
            <% end %>

            <% if parameter.enum %>
              <br>
              <small class="Vlt-grey-dark">
                  <%= (callback || model) ? "One of:" : "Must be one of:" %>
                  <%= parameter_values(parameter.enum) %>
              </small>
            <% end %>

            <% if parameter.raw['x-possible-values'] %>
              <br>
              <small class="Vlt-grey-dark">
                  Will be one of:
                  <%= parameter_values(parameter.raw['x-possible-values']) %>
              </small>
            <% end %>

            <% if parameter.minimum || parameter.maximum %>
              <br>
              <small class="Vlt-grey-dark">
                  <% if parameter.minimum && parameter.maximum %>
                    Must be between <%= "<code>#{parameter.minimum}</code>".html_safe %> and <%= "<code>#{parameter.maximum}</code>".html_safe %>
                  <% elsif parameter.minimum %>
                    Must be at least <%= "<code>#{parameter.minimum}</code>".html_safe %>
                  <% else %>
                    Must be at most <%= "<code>#{parameter.maximum}</code>".html_safe %>
                  <% end %>
              </small>
            <% end %>
          </td>

          <% unless model %>
            <% if parameter.collection? or parameter.oneOf? %>
              <% if parameter.raw['x-nexmo-developer-collection-description-shown'] %>
                <td>
                  <%= (parameter.example ? "<code><pre>#{parameter.example}</pre></code>" : '').html_safe %>
                </td>
              <% end %>
            <% else %>
              <td>
                  <%= (parameter.example ? "<code>#{parameter.example.to_s.gsub("\n", "<br />")}</code>" : '<i>None</i>').html_safe %>
              </td>
            <% end %>
          <% end %>

          <% unless model || callback %>
            <td>
              <% if parameter.raw['x-default-is-meta'] %>
                <i><%= (parameter.default.nil? ? 'None' : parameter.default) %></i>
            <% else %>
                <% unless parameter.type == 'object' %>
                    <%= (parameter.default.nil? ? '<i>None</i>' : "<code>#{parameter.default}</code>").html_safe %>
                <% end %>
            <% end %>
            </td>
          <% end %>

        <% if parameter.collection? %>
        <tr class="Vlt-table__row--nohighlight">
          <td colspan="4">
            <% if parameter.subproperties_are_one_of_many? %>

              <div style="margin-left: 20px;">
                <h4>Any one of the following:</h4>
                <% parameter.properties.each do |property| %>
                  <h5><%= property['description'] %></h5>
                  <%= render 'parameters', parameters: property['properties'], model: model, format: format, callback: callback %>
                <% end %>
              </div>
            <% else %>
              <% if parameter.properties and parameter.object? %>
                <%= render 'parameters', parameters: parameter.properties, model: model, format: format, callback: callback %>
              <% end %>
            <% end %>
          </td>
        </tr>
          <% end %>
      <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
