<%
  model = false if local_assigns[:model].nil?
  callback = false if local_assigns[:callback].nil?
%>

<ul class="table-list">
  <li class="table-list-header">
    <div class="table-list-columns <%= callback ? 'table-list-columns--callback' : '' %> <%= model ? 'table-list-columns--model' : '' %>">
      <div class="table-list-column" flex="2">Key</div>
      <div class="table-list-column" flex="3">Description</div>
      <% unless model %>
        <div class="table-list-column" flex="2">Example</div>
        <% unless callback %>
          <div class="table-list-column">Default</div>
        <% end %>
      <% end %>
    </div>
  </li>
  <% parameters.each do |parameter| %>
    <li>
      <div class="table-list-columns <%= callback ? 'table-list-columns--callback' : '' %> <%= model ? 'table-list-columns--model' : '' %>">
        <div class="table-list-column" flex="2">
          <b><%= parameter.name %></b><br>

          <small>
            <% if parameter.required %>
              <span class="flag flag--strong">Required</span> |
            <% end %>

            <i>
              <%= parameter.type %>
              <% if parameter.format %>
                (<%= parameter.format %>)
              <% end %>
              <% if parameter.array? %>
                <br>
                <% if parameter.items && parameter.items['type'] %>
                  of <%= (parameter.items['type']) %>'s
                <% end %>
              <% end %>
            </i>
          </small>
        </div>

        <div class="table-list-column" flex="3">
          <% unless parameter.collection? %>
            <%= (parameter.description ? "#{parameter.description}" : '<i>None</i>').render_markdown %>
          <% end %>

          <% if parameter.enum %>
            <br>
            <small>
              <i>
                <%= (callback || model) ? "One of:" : "Must be one of:" %>
                <%= parameter.enum.map { |s| "<code>#{s}</code>" }.to_sentence(last_word_connector: 'or', two_words_connector: 'or').html_safe %>
              </i>
            </small>
          <% end %>

          <% if parameter.raw['x-possible-values'] %>
            <br>
            <small>
              <i>
                Will be one of:
                <%= parameter.raw['x-possible-values'].map { |s| "<code>#{s}</code>" }.to_sentence(last_word_connector: 'or', two_words_connector: 'or').html_safe %>
              </i>
            </small>
          <% end %>

          <% if parameter.minimum || parameter.maximum %>
            <br>
            <small>
              <i>
                <% if parameter.minimum && parameter.maximum %>
                  Must be between <%= "<code>#{parameter.minimum}</code>".html_safe %> and <%= "<code>#{parameter.maximum}</code>".html_safe %>
                <% elsif parameter.minimum %>
                  Must be at least <%= "<code>#{parameter.minimum}</code>".html_safe %>
                <% else %>
                  Must be at most <%= "<code>#{parameter.maximum}</code>".html_safe %>
                <% end %>
              </i>
            </small>
          <% end %>
        </div>

        <% unless model %>
          <div class="table-list-column" flex="2">
            <%= (parameter.example ? "<code>#{parameter.example}</code>" : '<i>None</i>').html_safe %>
          </div>
        <% end %>

        <% unless model || callback %>
          <div class="table-list-column">
            <%= (parameter.default.nil? ? '<i>None</i>' : "<code>#{parameter.default}</code>").html_safe %>
          </div>
        <% end %>
      </div>

      <% if parameter.collection? %>
        <%= render 'parameters', parameters: parameter.properties, model: model %>
      <% end %>
    </li>
  <% end %>
</ul>
