<% endpoint.responses.each do |response| %>
    <% next unless response.success? %>
    <% next if response.code.to_i == 204 %>
    <% id = SecureRandom.hex %>
    <p class="collapsible">
    <a class="Vlt-js-accordion__trigger Nxd-accordion-button" data-accordion="acc<%= id %>">
        <span class="Vlt-btn Vlt-btn--tertiary Vlt-btn--block">
            View response field descriptions
        </span>
    </a>
    </p>

    <div id="acc<%= id %>" class="Vlt-js-accordion__content">
        <h4>Response Fields</h4>
      <% response.formats.each_with_index do |format, index| %>
        <div class="js-format" data-format="<%= format %>">
        <div class="Vlt-table">
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% if response.exhibits_one_of_multiple_schemas?(format) %>
                        <% response.split_schemas(format).each_with_index do |schema, index| %>
                            <% next unless schema['properties'] %>
                            <% schema['properties'].each do |key, value| %>
                                <% next if key == '_links' %>
                                <% next if value['x-skip-response-description'] %>
                                <tr>
                                    <td><b><%= key %></b></td>
                                    <td><%= value['description'] ? value['description'].render_markdown : '' %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% else %>
                        <% schema = response.schema(format) %>
                        <% if schema['properties']%>
                            <% schema['properties'].each do |key, value| %>
                                <% next if key == '_links' %>
                                <% next if value['x-skip-response-description'] %>
                                <%
                                    desc = ''
                                    desc = value['title'].render_markdown if value['title']
                                    desc = value['description'].render_markdown if value['description']
                                %>
                                <tr>
                                    <td><b><%= key %></b></td>
                                    <td><%= desc %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>

                </tbody>
            </table>
        </div>
        </div>
      <% end %>
    </div>

<% end %>
