<% endpoint.responses.each do |response| %>
    <% next unless response.success? %>
    <% next if response.code.to_i == 204 %>
    <% id = SecureRandom.hex %>
    <p class="collapsible">
    <a class="js-collapsible no-indent" data-collapsible-id="<%= id %>">
        View response field descriptions
    </a>
    </p>

    <div id="<%= id %>" class="collapsible-content collapsible-no-indent" style="display: none;">
        <h4>Response Fields</h4>
        <ul class="table-list">
            <li class="table-list-header">
                <div class="table-list-columns">
                    <div class="table-list-column" flex="2">Field</div>
                    <div class="table-list-column" flex="4">Description</div>
                </div>
            </li>

            <% response.formats.each_with_index do |format, index| %>
                <% if response.exhibits_one_of_multiple_schemas?(format) %>
                    <% response.split_schemas(format).each_with_index do |schema, index| %>
                        <% next unless schema['properties'] %>
                        <% schema['properties'].each do |key, value| %>
                            <% next if key == '_links' %>
                            <% next if value['x-skip-response-description'] %>
                            <li>
                                <div class="table-list-columns">
                                    <div class="table-list-column" flex="2"><b><%= key %></b></div>
                                    <div class="table-list-column" flex="4"><%= value['description'] ? value['description'].render_markdown : '' %></div>
                                </div>
                            </li>
                        <% end %>
                    <% end %>
                <% else %>
                    <% schema = response.schema(format) %>
                    <% if schema['properties']%>
                        <% schema['properties'].each do |key, value| %>
                            <% next if key == '_links' %>
                            <% next if value['x-skip-response-description'] %>
                            <%
                                desc = ''
                                desc = value['title'].render_markdown if value['title']
                                desc = value['description'].render_markdown if value['description']
                            %>
                            <li>
                                <div class="table-list-columns">
                                    <div class="table-list-column" flex="2"><b><%= key %></b></div>
                                    <div class="table-list-column" flex="4"><%= desc %></div>
                                </div>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>

            <% end %>
        </ul>
    </div>

<% end %>
