<div class="slate-layout">
  <div class="slate-layout-navigation">
    <div>
      <nav class="sidenav sidenav--spacious" data-turbolinks-permanent="">

          <ul class="navigation js-scrollspy has-label">
            <li>
              <a href="#">SMS</a>
              <ul class="has-label">
                <% @groups.each do |group| %>
                  <% if group['name'] %>
                    <li>
                      <a href="<%= group['name'].parameterize %>">
                        <%= group['name'] %>
                      </a>
                      <ul class="has-label">
                        <% group[:resources].each do |resource| %>
                          <%= render 'menu-item', endpoint: OpenApi::ExampleResponseResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
                        <% end %>
                      </ul>
                    </li>
                  <% else %>
                    <% group[:resources].each do |resource| %>
                      <%= render 'menu-item', endpoint: OpenApi::ExampleResponseResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  <div class="slate-layout-main">
    <% @groups.each do |group| %>
      <% if group['name'] %>
        <div>
          <div class="slate-layout-documentation">
            <div>
              <h1><%= group['name'] %></h1>
              <p><%= group['description'] %></p>
            </div>
          </div>
          <div class="slate-layout-code"></div>
        </div>
      <% end %>


      <% group[:resources].each do |resource| %>
        <%= render 'endpoint', endpoint: OpenApi::ExampleResponseResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
      <% end %>
    <% end %>
  </div>
</div>
