<div class="slate-layout">
  <div class="slate-layout-navigation">
    <div>
      <nav class="sidenav sidenav--spacious" data-turbolinks-permanent="">

          <ul class="navigation js-scrollspy has-label">
            <li>
              <a href="#"><%= @specification.raw['info']['title'] %></a>
              <ul class="has-label">
                <% @groups.each do |group| %>
                  <% if group['name'] %>
                    <li>
                      <a href="<%= group['name'].parameterize %>">
                        <%= group['name'] %>
                      </a>
                      <ul class="has-label">
                        <% group[:resources].each do |resource| %>
                          <%= render 'menu-item', endpoint: OpenApi::EndpointResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
                        <% end %>
                      </ul>
                    </li>
                  <% else %>
                    <% group[:resources].each do |resource| %>
                      <%= render 'menu-item', endpoint: OpenApi::EndpointResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  <div class="slate-layout-main">
    <div>
      <div class="slate-layout-documentation">
        <div>
          <h1><%= @specification.raw['info']['title'] %></h1>
          <p><%= @specification.raw['info']['description'] %></p>

          <%= link_to open_api_path({ format: @specification_format, params: request.query_parameters }), class: 'button button--secondary' do %>
            <i class="icon icon-swagger"></i>
            Download OpenAPI 3 Specification
          <% end %>

        </div>
      </div>
      <div class="slate-layout-code"></div>
    </div>


    <% @groups.each do |group| %>
      <% if group['name'] %>
        <div>
          <div class="slate-layout-documentation slate-layout-documentation--group">
            <div>
              <h2><%= group['name'] %></h2>
              <p><%= group['description'] %></p>
              <% if group['schema'] %>
                <%= render 'parameters', parameters: OpenApi::EndpointResolver.normalize_properties(group['schema']['properties']), model: true %>
              <% end %>
            </div>
          </div>
          <div class="slate-layout-code">
            <% if group['schema'] %>
              <%= OpenApi::EndpointResolver.new_by_schema(group['schema']).model_html %>
            <% end %>
          </div>
        </div>
      <% end %>


      <% group[:resources].each do |resource| %>
        <%= render 'endpoint', endpoint: OpenApi::EndpointResolver.new(@specification, path: resource[:path], method: resource[:method]) %>
      <% end %>
    <% end %>
  </div>
</div>
