<%= render 'navigation', definition: @definition %>

<div class="Vlt-main Vlt-main--light Nxd-main" tabindex="2">
  <div class="Vlt-card Vlt-article Nxd-api">
    <div id="overview" class="Vlt-grid">
      <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
        <div>
          <h1>
            <%= @definition.info['title'] %>
            <% if @definition.info['x-label'] %>
              <span class="Vlt-badge Vlt-badge--<%= @definition.info['x-label'].parameterize %>">
                <%= @definition.info['x-label'] %>
              </span>
            <% end %>
          </h1>

          <% if @definition.info['description'] %>
            <p><%= @definition.info['description'].render_markdown %></p>
          <% end %>

          <%= link_to open_api_path({ format: @definition.format, params: request.query_parameters }), class: 'Vlt-btn Vlt-btn--secondary Vlt-btn--app' do %>
            <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-download" /></svg>
            Download OpenAPI 3 Definition
          <% end %>

        </div>
      </div>
      <div class="Vlt-col Vlt-col--1of3 Nxd-api__code Nxd-api__code--install">

          <% if @definition_initialization_config && @definition_initialization_content %>

            <div class="Nxd-api__code__header">
              <% if @definition_initialization_config['tabs'] %>
              <ul class="tabs tabs--code" data-tabs>
                <% if @definition_initialization_config['tabs'] %>
                  <% @definition_initialization_config['tabs'].each_with_index do |tab, index| %>
                    <li
                      class="tabs-title <%= index.zero? ? 'is-active' : '' %>"
                      language-linkable="false"
                      data-language="<%= tab %>"
                      data-language-type="<%= CodeLanguageResolver.find(tab).type %>"
                    ><a href="#<%= tab %>"><%= CodeLanguageResolver.find(tab).label %></a></li>
                  <% end %>
                <% end %>
              </ul>
                <% end %>

              <% if @definition_initialization_config && @definition_initialization_config['formats'] %>
                <div class="Vlt-native-dropdown">
                  <select class="js-format-selector">
                    <% @definition_initialization_config['formats'].each do |value, name| %>
                      <option value="<%= value %>"><%= name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>



          <%= @definition_initialization_content.html_safe %>

        <% end %>
      </div>
    </div>

    <% @groups.each do |name, endpoints| %>
      <% if name %>
        <% group = @definition.raw['tags'].select { |tag| tag['name'].capitalize == name.capitalize }.first %>
          <%= render partial: 'model', locals: { group: group } %>
      <% end %>

      <% endpoints.each do |endpoint| %>
        <%= render 'endpoint', endpoint: endpoint %>
      <% end %>
    <% end %>

    <% if @definition.raw['x-webhooks'] %>
      <% @definition.raw['x-webhooks'].each do |name, definition| %>
        <%= render 'callback', callback: OasParser::Callback.new(self, name, definition), webhook: true %>
      <% end %>
    <% end %>

    <% if @definition_errors_content %>
      <div class="Vlt-grid" id="errors">
        <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
          <div>
            <%= @definition_errors_content.html_safe %>
          </div>
        </div>
        <div class="Vlt-col Vlt-col--1of3 Nxd-api__code">
            <h5>Example response</h5>
            <%= ResponseParserDecorator.new(@definition.raw['components']['schemas']['Error']).html %>
        </div>
      </div>
    <% end %>
    <!--<%= render partial: 'layouts/partials/footer' %>-->
  </div>
</div>
