<div class="slate-layout">
  <div class="slate-layout-navigation">
    <div>
      <nav class="sidenav sidenav--spacious" data-turbolinks-permanent="">
        <%= render 'navigation', definition: @definition %>
      </nav>
    </div>
  </div>

  <div class="slate-layout-main">
    <div id="overview">
      <div class="slate-layout-documentation">
        <div>
          <h1><%= @definition.info['title'] %></h1>
          <p><%= @definition.info['description'] %></p>

          <%= link_to open_api_path({ format: @definition_format, params: request.query_parameters }), class: 'button button--secondary' do %>
            <i class="icon icon-swagger"></i>
            Download OpenAPI 3 Definition
          <% end %>

        </div>
      </div>
      <div class="slate-layout-code">
        <% if @definition_initialization_config && @definition_initialization_content %>
          <ul class="tabs tabs--code" data-tabs>
            <% @definition_initialization_config['tabs'].each do |tab| %>
              <li class="tabs-title" language-linkable="false" data-language="<%= tab %>"><a href="#<%= tab %>"><%= CODE_LANGUAGES[tab]['label'] %></a></li>
            <% end %>
          </ul>

          <div class="slate-layout-code__inner">
            <%= @definition_initialization_content.html_safe %>
          </div>
        <% end %>
      </div>
    </div>

    <% @definition.paths.each do |path| %>
      <% path.endpoints.each do |endpoint| %>
        <%= render 'endpoint', endpoint: endpoint %>
      <% end %>
    <% end %>

    <% if @definition_errors_content %>
      <div class="slate-layout-main" id="errors">
        <div>
          <div class="slate-layout-documentation">
            <div>
              <%= @definition_errors_content.html_safe %>
            </div>
          </div>
          <div class="slate-layout-code">
            <div class="slate-layout-code__inner">
              <h4>Example response</h4>
              <%= ResponseParserDecorator.new(@definition.raw['components']['schemas']['Error']).html %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
