<%= render 'navigation', definition: @definition %>

<div class="Vlt-main Vlt-main--light Nxd-main" tabindex="2">
  <div class="Vlt-card Vlt-article Nxd-api">
    <div id="overview" class="Vlt-grid">
      <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
        <div>
          <h1>
            <%= @definition.info['title'] %>
            <% if @definition.info['x-label'] %>
              <span class="Vlt-badge Vlt-badge--<%= @definition.info['x-label'].parameterize %>">
                <%= @definition.info['x-label'] %>
              </span>
            <% end %>
          </h1>

          <% if @definition.info['description'] %>
            <p><%= @definition.info['description'].render_markdown %></p>
          <% end %>

          <div class="Vlt-grid">
            <div class="Vlt-col">
              <%= link_to open_api_path({ format: @definition.format, params: request.query_parameters }), class: 'Vlt-btn Vlt-btn--secondary Vlt-btn--app' do %>
                <svg><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-download" /></svg>
                Download OpenAPI 3 Definition
              <% end %>
            </div>
            <div class="Vlt-col Vlt-right">
              <%= link_to "https://github.com/Nexmo/api-specification/blob/master/definitions/#{@definition_name}.yml", class: 'Vlt-btn Vlt-btn--tertiary Vlt-btn--app Vlt-right' do %>
                <svg className="Vlt-icon Vlt-black">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-github" />
                </svg>
                Improve this specification
              <% end %>
            </div>
          </div>


        </div>
      </div>
      <div class="Vlt-col Vlt-col--1of3 Nxd-api__code Nxd-api__code--install">

          <% if @definition_initialization_config && @definition_initialization_content %>

            <div class="Nxd-api__code__header">
            <% if @definition_initialization_config && @definition_initialization_config['formats'] %>
              <div class="Vlt-native-dropdown">
                <select class="js-format-selector">
                  <% @definition_initialization_config['formats'].each do |value, name| %>
                    <option value="<%= value %>"><%= name %></option>
                  <% end %>
                </select>
              </div>
            <% end %>
            </div>

          <%= @definition_initialization_content.html_safe %>
        <% end %>


        <% if @available_versions && @available_versions.count > 1 %>
        <div class="Vlt-callout Vlt-callout--shoutout Nxd-version">
          <i></i>
          <div class="Vlt-callout__content">
            <h4>There are multiple versions of this API available</h4>
            <p>
              <% @available_versions.each do |v| %>
              <a href="/api/<%= v['name'] %>" <%= v['version'] == @current_version ? 'class=active':'' %>>Version <%= v['version'] %></a> <%= '|' unless v == @available_versions.last %>
              <% end %>
            </p>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <% @groups.each do |name, endpoints| %>
      <% if name %>
        <% group = @definition.raw['tags'].select { |tag| tag['name'].capitalize == name.capitalize }.first %>
          <%= render partial: 'model', locals: { group: group } %>
      <% end %>

      <% endpoints.each do |endpoint| %>
        <%= render 'endpoint', endpoint: endpoint %>
      <% end %>
    <% end %>

    <% if @definition.raw['x-webhooks'] %>
      <% @definition.raw['x-webhooks'].each do |name, definition| %>
        <%= render 'callback', callback: OasParser::Callback.new(self, name, definition), webhook: true %>
      <% end %>
    <% end %>

    <% if @definition_errors_content %>
      <div class="Vlt-grid" id="errors">
        <div class="Vlt-col Vlt-col--2of3 Nxd-api__docs">
          <div>
            <%= @definition_errors_content.html_safe %>
          </div>
        </div>
        <div class="Vlt-col Vlt-col--1of3 Nxd-api__code">
            <h5>Example response</h5>
            <%= ResponseParserDecorator.new(@definition.raw['components']['schemas']['Error']).html %>
        </div>
      </div>
    <% end %>
  </div>
</div>
