<div class="row-fluid">
  <div class="columns small-12 medium-2">
    <nav class="sidenav sidenav--spacious" data-turbolinks-permanent="">

        <ul class="navigation js-scrollspy has-label">
          <li>
            <a href="#">SMS</a>
            <ul class="has-label">
              <% @specification.raw['paths'].each do |path, methods| %>
                <% methods.each do |method, endpoint| %>
                  <li>
                    <a href="#<%= (endpoint['summary'] || endpoint['description']).parameterize %>">
                      <span class="label label--code label--positive"><%= method.upcase %></span>
                      <%= endpoint['summary'] || endpoint['description'] %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
    </nav>
  </div>
  <div class="columns small-12 medium-10 api-reference">
    <% @specification.raw['paths'].each do |path, methods| %>
      <% methods.each do |method, endpoint| %>
        <div class="row-fluid flex">
          <div class="columns small-12 medium-8">
            <h2 id="<%= (endpoint['summary'] || endpoint['description']).parameterize %>"><%= endpoint['summary'] %></h2>
            <p><%= endpoint['description'] %></p>

            <div class="api-path">
              <span class="api-path-method api-path-method--<%= method %>"><%= method.upcase %></span>
              <code>
                <span class="api-path-host"><%= @specification.raw['schemes'].first %>://<%= @specification.raw['host'] %></span>
                <%= path.gsub(/\{(.+?)\}/, '<span class="api-path-parameter">:\1</span>').html_safe %>
              </code>
            </div>

            <% if endpoint['parameters'] %>
              <% if endpoint['parameters'].select { |parameter| parameter['in'] == 'path' }.any? %>
                <h3>Parameters</h3>
                <%= render 'parameters', parameters: endpoint['parameters'].select { |parameter| parameter['in'] == 'path' } %>
              <% end %>

              <% if endpoint['parameters'].select { |parameter| parameter['in'] != 'path' }.any? %>
                <h3>Query</h3>
                <%= render 'parameters', parameters: endpoint['parameters'].select { |parameter| parameter['in'] != 'path' } %>
              <% end %>
            <% end %>
          </div>
          <div class="columns small-12 medium-4 background--code">
            <%= render_request(@specification_name, path, method) %>
            <%= OpenApi::ExampleResponseResolver.new(@specification, path: path, method: method).html %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
