<h1>Tutorials</h1>

<strong>Filter: &nbsp;&nbsp;</strong>

<div class="Vlt-dropdown">
  <button class="Vlt-dropdown__btn">
    Choose a product
  </button>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <ul>
        <% Product.all.each do |product| %>
          <li>
            <a
              class="Vlt-dropdown__link"
              href="<%= url_for(controller: :tutorial, action: :list, code_language: @code_language, product: product['path'], only_path: true)%>"
            >
              <svg style="height: 20px; width: 20px;" class="Vlt-gray-darker Vlt-dropdown__link__icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-<%= product['icon'] %>"></use></svgc><span><%= product['name'] %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br /><br />

<p>Get started with Nexmo with tutorials that will walk you through building a variety of practical applications</p>

<% unless @tutorials.count.positive? %>
  <div class="Vlt-callout Vlt-callout--warning">
    <i></i>
    <div class="Vlt-callout__content">
      No tutorials available
    </div>
  </div>
<% else %>
  <div class="masonry">
    <% @tutorials.each_with_index do |tutorial, index| %>
      <%
        if tutorial[:external_link]
          url = tutorial[:external_link]
        else
          url = url_for(
            controller: :tutorial,
            action: :index,
            product: params[:product],
            tutorial_name: tutorial[:filename],
            only_path: true
          )
        end
      %>

    <div class="item">
      <div class="Vlt-card Vlt-card--image Nxd-card--tutorials">
        <div class="Vlt-card__image Vlt-card__image--tech Vlt-gradient--blue-to-purple">
          <% product = Nexmo::Markdown::UseCase.new.normalise_product_title(tutorial[:products].first) %>
          <a href="/<%= tutorial[:products].join("") %>/tutorials" class="Vlt-badge Vlt-badge--large Nxd-tutorials__product Vlt-badge--<%= Card::COLOUR.fetch(product, 'blue') %>"><%= product %></a>
        </div>

        <a href="<%= url %>">
          <div class="Vlt-card__content">
            <h2>
              <span><%= tutorial[:title] %></span>
            </h2>
            <p><%= tutorial[:description] %></p>
        </a>

        <div class="Vlt-card__cta">
          <a href="<%= url %>" class="Vlt-btn Vlt-btn--tertiary">
            Read more
          </a>
        </div>
          </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
