<div class="container">
  <div class="content-block center">
    <h1>Careers</h1>
  </div>

  <div class="content-block center">
    <div class="Vlt-col">
      <div class="Vlt-native-dropdown">
        <%= select_tag 'department',
          options_from_collection_for_select(Career::DEPARTMENTS.sort, :first, :first),
          prompt: 'Filter by department',
          id: 'department-filter'
        %>
      </div>
      <div class="Vlt-native-dropdown">
        <%= select_tag 'location',
          options_for_select(Greenhouse.offices.map { |o| o[:name] }),
          prompt: 'Filter by location',
          id: 'location-filter'
        %>
      </div>
    </div>
  </div>

  <div class="Vlt-grid">
    <div class="Vlt-col" id="careers">
      <% Career::DEPARTMENTS.sort.each do |name, codes| %>
        <div class="Vlt-grid Nxd-department" data-department="<%= name %>">
          <div class="Vlt-col Vlt-col--2of2">
            <h3><%= name %></h3>
          </div>
          <hr class="hr--short"></hr>
          <% codes.each do |code| %>
            <% @careers_by_department[code].each do |career| %>
              <div class="Vlt-col Vlt-col--1of2 Nxd-career">
                <div class="Vlt-card Vlt-card--center">
                  <div class="Vlt-card__header">
                    <h4><%= career.title %></h4>
                  </div>
                  <div class="Vlt-card__content Vlt-grid">
                    <small class="Nxd-career__subtitle Vlt-col"><%= career.location %></small>
                    <small><%= link_to "Find out more", career.url, class: "Vlt-text-link Vlt-col" %></small>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class='Vlt-empty' id='no-results'>
        <div class='Vlt-empty__content'>
          There are no results that match your criteria.
        </div>
      </div>
    </div>
  </div>
</div>
