<div class="masonry" data-turbolinks="false">
  <% @tutorials.each_with_index do |tutorial, index| %>
    <div class="item">
      <a href="<%= tutorial.path %>" class="card card--with-icon" <%= tutorial.external_link ? 'target="blank"': '' %>>
        <h2>
          <span class="unstyled spacious">
            <small><i><%= tutorial.subtitle %></i></small>
            <%= tutorial.title %>
            <span class="<%= tutorial.external_link ? 'icon-external-link' : '' %>">&nbsp;</span>
          </span>
        </h2>

        <div class="card--with-icon__divider">
          <i class="icon icon-book"></i>
        </div>

        <p class="color-text"><%= tutorial.description %></p>

        <% if tutorial.languages.count > 0 %>
            <p class="languages color-text">Language: <strong><%= tutorial.languages.join(", ") %></strong></p>
        <% end %>
      </a>
    </div>
  <% end %>
</div>
