<h1>Tutorials</h1>


<style>
  .tutorial-language-link svg {
    height: 15px;
    width: 15px;
  }
</style>

<strong>Filter: &nbsp;&nbsp;</strong>

<div class="Vlt-dropdown">
  <button class="Vlt-dropdown__btn">
    Choose a language
  </button>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <ul>
        <% @languages.each do |lang| %>
          <li><a class="Vlt-dropdown__link" href="<%= "#{@base_path}/#{lang.key}" %>"><svg style="height: 20px; width: 20px;" ><use xlink:href="/assets/images/brands/<%= lang.icon %>.svg#<%= lang.icon %>"></use></svg><span><%= lang.label %></span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="Vlt-dropdown">
  <button class="Vlt-dropdown__btn">
    Choose a product
  </button>
  <div class="Vlt-dropdown__panel">
    <div class="Vlt-dropdown__panel__content">
      <ul>
        <% @products.each do |product| %>
          <li><a class="Vlt-dropdown__link" href="/<%= product['path'] %>/tutorials/<%= @language %>"><svg style="height: 20px; width: 20px;" class="Vlt-<%= product['icon_colour'] %>"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-<%= product['icon'] %>"></use></svgc><span><%= product['name'] %></span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br><br>

<p>Get started with Nexmo with tutorials that will walk you through building a variety of practical applications</p>

<%= render 'index' %>
