<h3 class="collapsible">
    <a class="js-collapsible" data-collapsible-id="<%= id %>">
        Initialize your dependencies
    </a>
</h3>

<div id="<%= id %>" class="collapsible-content" style="display: none;">
    <p>Create a file named <code><%= config['file_name'] %></code> and add the following code:</p>
    <pre class="highlight bash"><code><%= highlighted_client_source %></code></pre>
    <a href="<%= client_url %>">View full source</a>
</div>


