<h2>Write the code</h2>
<p>Add the following to <code><%= config['file_name'] %></code>:</p>
<div class="highlight <%= lexer.tag %> main-code">
<div class="copy-button" data-lang="<%= lang %>" data-block="<%= config['source'] %>" data-section="code">
  <%= octicon "clippy", :class => 'top left' %> <span>Copy to Clipboard</span>
</div>
<pre><code><%= highlighted_code_source %></code></pre>
</div>
<a class="source-link" data-section="code" data-lang="<%= lang %>" data-block="<%= config['source'] %>" href="<%= source_url %>">View full source</a>

