<div>
  <%= gravatar_image_tag email, gravatar: { size: 140 }, class: 'avatar' %>
  <br>
  <h3><b><%= name %></b></h3>
  <h4><%= local_assigns[:role] ? role : 'Developer Advocate' %></h3>
  <h5><a target="_blank" href="https://twitter.com/<%= twitter %>">@<%= twitter %></a></h5>
</div>
