<div class="row">
  <div class="columns small-12 medium-6 <%= wide ? 'large-4' : '' %>">
    <div class="card card--with-icon card--sms">
      <h2>
        <a href="/messaging/sms/overview" class="unstyled">
          <small>Send and receive</small>
          SMS
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-comments-o"></i>
      </div>

      <nav>
        <a href="/messaging/sms/overview">Overview</a>
        <a href="/messaging/sms/guides">Guides</a>
        <a href="/messaging/sms/building-blocks">Building Blocks</a>
        <a href="/messaging/sms/tutorials">Tutorials</a>
        <hr>
        <a href="/api/sms">API Reference</a>
      </nav>
    </div>
  </div>
  <div class="columns small-12 medium-6 <%= wide ? 'large-4' : '' %>">
    <div class="card card--with-icon card--voice">
      <h2>
        <a href="/voice/overview" class="unstyled">
          <small>Programmable</small>
          Voice
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-microphone"></i>
      </div>

      <nav>
        <a href="/voice/">Overview</a>
        <a href="/voice/guides">Guides</a>
        <a href="/voice/building-blocks">Building Blocks</a>
        <a href="/voice/tutorials">Tutorials</a>
        <hr>
        <a href="/api/voice">API Reference</a>
      </nav>
    </div>
  </div>
  <div class="columns small-12 medium-6 <%= wide ? 'large-4' : '' %>">
    <div class="card card--with-icon card--verify">
      <h2>
        <a href="/verify/overview" class="unstyled">
          <small>User Authentication</small>
          Verify
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-key"></i>
      </div>

      <nav>
        <a href="/verify/overview">Overview</a>
        <a href="/verify/guides/verify-a-user">Guides</a>
        <a href="/verify/building-blocks">Building Blocks</a>
        <a href="/verify/tutorials">Tutorials</a>
        <hr>
        <a href="/api/verify">API Reference</a>
      </nav>
    </div>
  </div>
  <div class="columns small-12 medium-6 <%= wide ? 'large-4' : '' %>">
    <div class="card card--with-icon card--number-insight">
      <h2>
        <a href="/number-insight/overview" class="unstyled">
          <small>User Identity</small>
          Number insight
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-eye"></i>
      </div>

      <nav>
        <a href="/number-insight/overview">Overview</a>
        <a href="/number-insight/guides">Guides</a>
        <a href="/number-insight/building-blocks">Building Blocks</a>
        <a href="/number-insight/tutorials">Tutorials</a>
        <hr>
        <a href="/api/number-insight">API Reference</a>
      </nav>
    </div>
  </div>
  <div class="columns small-12 medium-6 <%= wide ? 'large-4' : '' %> end">
    <div class="card card--with-icon card--account">
      <h2>
        <a href="/account/overview" class="unstyled">
          <small>Management</small>
          Account
        </a>
      </h2>

      <div class="card--with-icon__divider">
        <i class="icon icon-id-badge"></i>
      </div>

      <nav>
        <a href="/account/overview">Overview</a>
        <a href="/account/guides">Guides</a>
        <a href="/account/building-blocks">Building Blocks</a>
        <br>
        <hr>
        <a href="/api/account">API Reference</a>
      </nav>
    </div>
  </div>

</div>
