<br>
<div class="row">
  <div class="columns small-12 medium-8 medium-centered large-6 medium-centered">
    <center>
      <h1>Nexmo ❤️ community</h1>
      <h2>You can find us at these upcoming events:</h2>
    </center>
    <br>
    <hr class="hr--mini">
  </div>
</div>

<% if @sessions.any? %>
  <br>

  <div class="row">
    <% @sessions.each_with_position do |session, first, last| %>
      <div class="columns small-12 medium-6 large-3 <%= 'end' if last %>">
        <%= session.video_content.html_safe %>
        <h3><%= session.title %></h3>
        <p class="truncate"><%= session.description %></p>
        <br>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>

<br>

<div class="row">
  <% @upcoming_events.each_with_position do |event, first, last| %>
    <div class="columns small-12 medium-6 large-4 <%= 'end' if last %>">
      <br>
      <h2><%= link_to event.title, event.url, target: '_blank' %></h2>
      <p><b><%= event.date_range %></b></p>
      <p><%= event.description %></p>
      <br>
    </div>
  <% end %>
</div>
