            <div class="center">
  <h1>Welcome to Nexmo Developer</h1>
  <h2 class="light">
    Discover our
    <a href="#products">products</a>,
    <a href="/tools">tools</a>,
    <a href="/api">api</a> &amp;
    <a href="/community">developer community</a>.
  </h2>

  <p>Please note: This is an early prototype and has bugs. Most of the links below do not work and this page design will be changing.</p>
  <p>You may want to start at <a href="/messaging/sms/overview">SMS > Overview</a></p>
</div>
<br/>
<div class="row">
  <div class="columns small-12 medium-4">
    <div class="card card--sms">
      <a href="/messaging/sms/overview" class="poster">
        <%= image_tag('posters/sms_small.png') %>
      </a>
      <nav>
        <a href="/messaging/sms/overview">Overview</a>
        <a href="/messaging/sms/guides">Guides</a>
        <a href="/messaging/sms/quickstart">Quick start</a>
        <a href="/messaging/sms/tutorials">Tutorials</a>
      </nav>
      <a href="/api/">API Reference</a>
    </div>
  </div>
  <div class="columns small-12 medium-4">
    <div class="card card--number-insight">
      <a href="/number-insight/" class="poster">
        <%= image_tag('posters/numberinsight_small.png') %>
      </a>
      <nav>
        <a href="/number-insight/">Overview</a>
        <a href="/number-insight/guides">Guides</a>
        <a href="/number-insight/quickstart">Quick start</a>
        <a href="/number-insight/tutorials">Tutorials</a>
      </nav>
      <a href="/api/">API Reference</a>
    </div>
  </div>
  <div class="columns small-12 medium-4">
    <div class="card card--voice">
      <a href="/voice/" class="poster">
        <%= image_tag('posters/voice_small.png') %>
      </a>
      <nav>
        <a href="/voice/">Overview</a>
        <a href="/voice/guides">Guides</a>
        <a href="/voice/quickstart">Quick start</a>
        <a href="/voice/tutorials">Tutorials</a>
      </nav>
      <a href="/api/">API Reference</a>
    </div>
  </div>
  <div class="columns small-12 medium-4">
    <div class="card card--chat">
      <a href="/chat/" class="poster">
        <%= image_tag('posters/chatapp_small.png') %>
      </a>
      <nav>
        <a href="/chat/">Overview</a>
        <a href="/chat/guides">Guides</a>
        <a href="/chat/quickstart">Quick start</a>
        <a href="/chat/tutorials">Tutorials</a>
      </nav>
      <a href="/api/">API Reference</a>
    </div>
  </div>
  <div class="columns small-12 medium-4">
    <div class="card card--verify">
      <a href="/verify/" class="poster">
        <%= image_tag('posters/verify_small.png') %>
      </a>
      <nav>
        <a href="/verify/">Overview</a>
        <a href="/verify/guides">Guides</a>
        <a href="/verify/quickstart">Quick start</a>
        <a href="/verify/tutorials">Tutorials</a>
      </nav>
      <a href="/api/">API Reference</a>
    </div>
  </div>
</div>
