<div class="center spacious">
  <h1>
      <i class="icon icon--large icon-community"></i><br><br>
      Nexmo Developer Team
  </h1>

  <br>

  <h4>
    Our mission is to build a world class open source documentation platfrom to help developers build connected products.
    <br><br>
    Here are some of the people behind Nexmo Developer.
  </h4>

  <br>

  <h2 class="spacious"><b>Core Team</b></h2>

  <div>
    <div class="row">
      <div class="columns small-12 medium-4">
        <%= gravatar_image_tag 'adam.butler@nexmo.com', gravatar: { size: 256 }, class: 'avatar' %>
        <br>
        <h2><b>Adam Butler</b></h2>
        <h3>Nexmo Developer Tech Lead</h3>
        <h4><a target="_blank" href="https://twitter.com/labfoo">@labfoo</a></h4>
      </div>

      <div class="columns small-12 medium-4">
        <%= gravatar_image_tag 'tom.morris@nexmo.com', gravatar: { size: 256 }, class: 'avatar' %>
        <br>
        <h2><b>Tom Morris</b></h2>
        <h3>Technical Writer</h3>
        <h4><a  target="_blank" href="https://twitter.com/tommorris">@tommorris</a></h4>
      </div>

      <div class="columns small-12 medium-4">
        <%= gravatar_image_tag 'phil.leggetter@nexmo.com', gravatar: { size: 256 }, class: 'avatar' %>
        <br>
        <h2><b>Phil Leggetter</b></h2>
        <h3>Director of Developer Relations</h3>
        <h4><a  target="_blank" href="https://twitter.com/leggetter">@leggetter</a></h4>
      </div>
    </div>
  </div>

  <br>

  <h2 class="spacious"><b>DevRel Team</b></h2>

  <div class="avatar-grid">
    <a target="_blank" href="https://twitter.com/aaronbassett"><%= gravatar_image_tag 'aaron.bassett@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/sammachin"><%= gravatar_image_tag 'sam.machin@nexmo.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/AmbassadorAwsum"><%= gravatar_image_tag 'amanda.folson@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/lakatos88"><%= gravatar_image_tag 'alex.lakatos@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/Rabeb_Othmani"><%= gravatar_image_tag 'rabeb.othmani@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/oliadukova"><%= gravatar_image_tag 'olga.dukova@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/mheap"><%= gravatar_image_tag 'michael.heap@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/speaktochris"><%= gravatar_image_tag 'chris.guzman@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/judy2k"><%= gravatar_image_tag 'mark.smith@nexmo.com', gravatar: { size: 160 }, class: 'avatar' %></a>
    <a target="_blank" href="https://twitter.com/eric_giannini"><%= gravatar_image_tag 'eric.giannini@vonage.com', gravatar: { size: 160 }, class: 'avatar' %></a>
  </div>

  <h2 class="spacious"><b>Contributors</b></h2>

  <p>Many of the improvements made to Nexmo Developer have come from our wonderful community.</p>
  <p>Checkout our <a href="https://github.com/Nexmo/nexmo-developer/graphs/contributors">Contributors</a> page on GitHub.</p>

  <br><br>

  <h2><b>Join the team</b></h2>

  <p>If what we are building sounds interesting to you please see our open positions and get in touch with us at <a href="mailto:devrel@nexmo.com">devrel@nexmo.com</a>.</p>

  <br>

  <div class="row">
    <div class="columns small-12 medium-8 large-6 medium-centered">
      <div class="box">
        <h2>
          <i class="icon icon--large icon-book"></i><br><br>
          Technical Writer
        </h2>
        <div class="left spacious">
          <p>Technical Writers at Nexmo help author high-quality developer-focused documentation and work with the Developer Relations team to define and ensure documentation standards (style, tone of voice etc.) are adhered to within Nexmo Developer.</p>
          <p>As a technical writer at Nexmo you will work as part of the Developer Relations team to create new content, update and improve existing content, and ensure Nexmo Developer is an amazing resource offering a great developer experience. You’ll be working as part of a remote-first team, however would require you to be in London 2 to 3 days a week.</p>
        </div>
        <a href="#" class="button">Find out more</a>
      </div>
    </div>
  </div>

</div>
