@{
    <h1>Number Insight Advanced Results</h1>
        <hr style="height:2px; color:black" />
        <h2>Request ID: @ViewBag.requestID</h2>
        <h2>Status: @ViewBag.status</h2>
        <hr style="border:2px solid black" />
        <h2>International Number: @ViewBag.iNumber</h2>
        <h2>National Number: @ViewBag.nNumber</h2>
        <h2>Country: @ViewBag.country</h2>
        <h2>Country Code: @ViewBag.countryCode</h2>
        <hr style="border:2px solid black" />
        <h2>Current Carrier Name: @ViewBag.currentCarrierName</h2>
        <h2>Current Carrier Code: @ViewBag.currentCarrierCode</h2>
        <h2>Current Carrier Type: @ViewBag.currentCarrierType</h2>
        <h2>Current Carrier Country: @ViewBag.currentCarrierCountry</h2>
        <hr style="border:2px solid black" />
        <h2>Original Carrier Name: @ViewBag.originalCarrierName</h2>
        <h2>Original Carrier Code: @ViewBag.originalCarrierCode</h2>
        <h2>Original Carrier Type: @ViewBag.originalCarrierType</h2>
        <h2>Original Carrier Country: @ViewBag.originalCarrierCountry</h2>
        <hr style="border:2px solid black" />
        <h2>Number Validity: @ViewBag.validNumber</h2>
        <h2>Number Portability: @ViewBag.ported</h2>
        <h2>Number Reachability: @ViewBag.reachable</h2>
        <h2>Roaming Information: @ViewBag.roaming</h2>
}

