<div class="Nxd-profile Vlt-col Vlt-col--M-1of3">
  <%= gravatar_image_tag email, gravatar: { size: 140 }, class: 'Nxd-profile__avatar avatar' %>
  <h3><%= name %></h3>
  <p class="Vlt-grey-darker p-large"><%= local_assigns[:role] ? role : 'Developer Advocate' %>
  	<% if local_assigns[:twitter] %>
    <small><a target="_blank" href="https://twitter.com/<%= twitter %>">@<%= twitter %></a></small>
  	<% end %>
  </p>
</div>
