<div class="Nxd-profile Vlt-col Vlt-col--M-1of3">
  <%= image_tag(image_url, size: 140, class: 'Nxd-profile__avatar avatar') %>
  <h3><%= name %></h3>
  <p class="Vlt-grey-darker p-large"><%= local_assigns[:role] ? role : 'Developer Advocate' %>
  	<% if local_assigns[:blog_profile_url] %>
    <%= puts "here" %>
    <%= puts local_assigns[:blog_profile_url] %>
    <%= puts "there" %>
    <%= puts blog_profile_url %>
    <%= puts "everywhere" %>
    <%= puts local_assigns[:blog_profile_url] == blog_profile_url %>
    <small><a target="_blank" id="blog-profile-url" href="<%= blog_profile_url %>"><svg class="Vlt-icon Vlt-icon--smaller Vlt-purple-dark"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-open-full"></use></svg></a></small>
  	<% end %>
  </p>
</div>
