<div class="Nxd-products-list">
  <div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">

    <% @products.each do |product| %>
      <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
        <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
          <div class="Vlt-card__content">
            <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#<%= product['icon'] %>" /></svg>
            <div class="Nxd-card--product__subtitle"><small><%= product['subtitle'].upcase %></small></div>

            <h2>
              <a href="<%= product['link'] %>/overview">
                <%= product['name'] %>
              </a>
            </h2>
            <nav>

              <% if product['overview'] == true %>
                <a href="<%= product['link'] %>/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                    aria-hidden="true">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview
                </a>
              <% end %>

              <% if product['guides'] == true %>
                <a href="<%= product['link'] %>/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                  aria-hidden="true">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides
                </a>
              <% end %>

              <% if product['code-snippets'] == true %>
                <a href="<%= product['link'] %>/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets
                </a>
              <% end %>

              <% if product['tutorials'] == true %>
                <a href="<%= product['link'] %>/tutorials"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                      aria-hidden="true">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-mockup" /></svg>Tutorials
                </a>
              <% end %>

              <% if product['api-reference'] == true %>
                <hr class="hr--short">
              
                <a href="/api/sms">API Reference</a>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
