<div class="wrapper wrapper--tint">
  <div class="center spacious content-block">
    <h1><%= @landing_info['title'].html_safe %></h1>
    <p><%= raw @landing_info['subtitle'].html_safe %></p>
    <p>
      <!-- This is the buttons group area-->
      <strong>Jump to: </strong>
      <% @landing_info['top-section'].each do |product| %>
        <a href="#<%=product.keys.first.parameterize %>"  class='Vlt-btn Vlt-btn--primary Vlt-btn--small'><%= product.keys.first %></a>
      <%end %>

      <% @landing_info['bottom-section'].each do |product| %>
        <% product[product.keys.first].each do |cards| %>
          <a href="#<%=cards.keys.first.parameterize %>" class='Vlt-btn Vlt-btn--primary Vlt-btn--small'><%= cards.keys.first %></a>
        <%end%>
      <%end%>
    </p>
  </div>
<div>

<!-- TOP section -->
    <% @landing_info['top-section'].each do |product| %>
      <hr id="<%= product.keys.first.parameterize  %>" class="hr--tall Vlt-gradient--blue-to-pink"></hr>
      <h2><%= product.keys.first %></h2>
      <br>

      <div class="my-4col-grid">
        <% product[product.keys.first].each do |card| %>
          <%= render partial: 'static/landing_page_documentation/partials/small_product_card', locals: { product: card } %>
        <% end %>
      </div>
    <% end %>

<!-- BOTTOM section -->
    <% @landing_info['bottom-section'].each do |product| %>
      <hr class="hr--tall Vlt-gradient--blue-to-pink"></hr>
      <h2><%= product.keys.first %></h2>
      <br>

      <div class="my-2col-grid">
        <% product[product.keys.first].each do |cards| %>
          <%= render partial: 'static/landing_page_documentation/partials/big_product_card', locals: { products: cards } %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
