<div class="container">

  <div class="row">
    <div class="center">
      <h1 class="Vlt-title--margin-top2"><%= @header['title'] %></h1>
      <p class="p-large"><%= @header['subtitle'] %></p>
    </div>
    <div class="columns small-12">
      <a name="products"></a>

      <%= render 'products' %>

      <% if @document['tools'] || @document['community'] %>
        <hr class="hr--tall">
        <div class="Vlt-grid">

          <% if @document['tools'] %>
            <div class="Vlt-col Vlt-col--M-1of2">
              <div>
                <h2>
                  <a href="/tools">
                    <div><svg class="Vlt-icon Vlt-icon--large Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-design-tools"/></svg></div>
                    <%= @document['tools']['title'] %>
                  </a>
                </h2>
                <p><%= @document['tools']['text'] %></p>
              </div>
            </div>
          <% end %>

          <% if @document['community'] %>
            <div class="Vlt-col Vlt-col--M-1of2">
              <div>
                <h2>
                  <a href="/community">
                    <div><svg class="Vlt-icon Vlt-icon--large Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-group"/></svg></div>
                    <%= @document['community']['title'] %>                  </a>
                </h2>
                <p><%= document['community']['text'] %></p>
              </div>
            </div>
          <% end %>
          
        </div>
      <% end %>

      <% if @document['support-message'] %>
        <hr class="hr--tall">

        <div class="center">
          <h3><%= @document['support-message']['title'] %></h3>
          <p class="p-large"><%= @document['support-message']['text'] %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
