<center>
  <%= image_tag 'slack.svg', width: 200 %>
  <br>
  <h1 class="spacious">Join the Nexmo Community Slack</h1>

  <% unless @success %>
    <%= form_tag community_slack_path do %>
      <%= email_field_tag :email, (@email || ''), class: 'input input--large', placeholder: 'Enter Your Email Address' %>
      <%= recaptcha_tags if ENV['RECAPTCHA_ENABLED'] %>
      <%= submit_tag 'Join', class: 'button' %>
    <% end %>
  <% end %>

  <% if @notice %>
    <p class="flash"><%= @notice %></p>
  <% end %>
</center>
