  <% author = @authors[blogpost['author'].to_sym] %>
  <% category = @categories.find{ |c| c['slug'] == blogpost['category'].downcase } %>
  <div class="Vlt-card Vlt-card--border Vlt-card--lesspadding">
    <div class="Vlt-card__header" style="display: flex; justify-content: space-between;">
      <a
        href="<%= blog_category_path(blogpost['category'])%>"
        class=""
        style="
          text-transform: uppercase;
          color: <%= category['color'] %>;
          font-size: 1.5rem;
          line-height: 3.25rem;
          font-weight: bold;">

        < <%= blogpost['category'] %> />
      </a>
    </div>
      
      
    <% if blogpost['tags'].count > 0 %>
      <div style='margin-bottom: 1.5rem;'>
        <% blogpost['tags'].each do |tag| %>
          <% next if tag.empty? %>
            <a
              href="<%= blog_tag_path(tag.downcase)%>"
              >
              <small class="Vlt-badge Vlt-badge--<%= tag.downcase %> Vlt-badge--transparent"><span>#</span><%= tag == "Objective_C" ? "Objective-C" : tag.downcase %></small>
            </a>
        <% end %>
      </div>
    <% end %>


    <div class="Vlt-card__content">
      <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>">
        <p class="p-large"><b><%= blogpost['title'] %></b></p>
      </a>

      <p><%= blogpost['description'] %></p>

      <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>" class="Vlt-blue-darker">
        <%= t('read_more') %>
        <svg class="Vlt-icon Vlt-icon--smaller">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-thin-right" />
        </svg>
      </a>


      <% if author && author['name'] %>
        <hr class="hr--short">

        <div style='display:flex; justify-content: flex-start;'>
        
          <% if author['image_url'] %>
            <% if author['image_url'].include? 'gravatar' %>
              <% url = author['image_url'] %>
            <% else %>
              <% url = "https://d226lax1qjow5r.cloudfront.net/blog/authors/#{author['image_url'].gsub('/content/images/','')}" %>
            <% end %>
            <%= image_tag url, style: " display: block; width: 4.5rem; height: 4.5rem; border-radius: 50%;" %>
          <% end %>
        
          <div style='margin-left: 1.5rem;'>
            <h5>
              <%= link_to author['name'], blog_author_path(author['short_name']) %>
            </h5>
            <p class='Vlt-grey-darker'>
              <strong><%= Date.parse(blogpost['published_at']).strftime('%b %d, %Y') %></strong>
            </p>
          </div>
          
        </div>
      <% end %>

    </div>
  </div>