<% unless @data.count.positive? %>
  <div class="Vlt-callout Vlt-callout--warning">
    <i></i>
    <div class="Vlt-callout__content">
      No Blogpost available
    </div>
  </div>
<% else %>
    
  
  <div class="Vlt-grid">

    <% @data.shift(2).each do |blogpost| %>
      <div class="Vlt-col Vlt-col--A-1of2">

      <% author = @authors[blogpost['author'].to_sym] %>
      <% category = @categories.find{ |c| c['slug'] == blogpost['category'].downcase } %>
  <%#  {"title"=>"12 Bots To Better Your Open Source Project", "description"=>"12 ways to improve your open source project with Probot and GitHub Actions—enabling you to extend your workflow and customize the way GitHub functions.", "thumbnail"=>"/content/blog/12-bots-to-better-your-open-source-project/Blog_Bots-Better-Opensource_1200x600.png", "author"=>"nahrinjalal", "published"=>true, "published_at"=>"2020-10-28 14:35:06 UTC", "updated_at"=>"", "category"=>"tutorial", "tags"=>["open-source", "hacktoberfest", "bots"], "link"=>"blog/20/10/28/12-bots-to-better-your-open-source-project", "locale"=>"en", "slug"=>"12-bots-to-better-your-open-source-project"}%>
      <% header_url = "#{Blog::Blogpost::CLOUDFRONT_BLOG_URL}blogposts#{blogpost['thumbnail'].gsub('/content/blog','')}"  %>




      
      <div class="Vlt-card Vlt-card--border Vlt-card--lesspadding Vlt-col">
	<div class="Vlt-card__image" style="background-image: url(<%= header_url %>); background-size: cover"></div>
        <div class="Vlt-card__header" style="display: flex; justify-content: space-between;">
          <a
            href="<%= blog_category_path(blogpost['category'])%>"
            class=""
            style="
              text-transform: uppercase;
              color: <%= category['color'] %>;
              font-size: 1.5rem;
              line-height: 3.25rem;
              font-weight: bold;">

            < <%= blogpost['category'] %> />
          </a>
        </div>
          
          
        <% if blogpost['tags'].count > 0 %>
          <div style='margin-bottom: 1.5rem;'>
            <% blogpost['tags'].each do |tag| %>
              <% next if tag.empty? %>
                <a
                  href="<%= blog_tag_path(tag.downcase)%>"
                  >
                  <small class="Vlt-badge Vlt-badge--<%= tag.downcase %> Vlt-badge--transparent"><span>#</span><%= tag == "Objective_C" ? "Objective-C" : tag.downcase %></small>
                </a>
            <% end %>
          </div>
        <% end %>


        <div class="Vlt-card__content">
          <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>">
            <p class="p-large"><b><%= blogpost['title'] %></b></p>
          </a>

          <p><%= blogpost['description'] %></p>

          <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>" class="Vlt-blue-darker">
            <%= t('read_more') %>
            <svg class="Vlt-icon Vlt-icon--smaller">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-thin-right" />
            </svg>
          </a>


          <% if author && author['name'] %>
            <hr class="hr--short">

            <div style='display:flex; justify-content: flex-start;'>
            
              <% if author['image_url'] %>
                <% if author['image_url'].include? 'gravatar' %>
                  <% url = author['image_url'] %>
                <% else %>
                  <% url = "#{Blog::Blogpost::CLOUDFRONT_BLOG_URL}authors/#{author['image_url'].gsub('/content/images/','')}" %>
                <% end %>
                <%= image_tag url, style: " display: block; width: 4.5rem; height: 4.5rem; border-radius: 50%;" %>
              <% end %>
            
              <div style='margin-left: 1.5rem;'>
                <h5>
                  <%= link_to author['name'], blog_author_path(author['short_name']) %>
                </h5>
                <p class='Vlt-grey-darker'>
                  <strong><%= Date.parse(blogpost['published_at']).strftime('%b %d, %Y') %></strong>
                </p>
              </div>
              
            </div>
          <% end %>

        </div>
      </div>


	</div>
</div>

      
    </div>
    <% end %>
    


<hr class="hr--short">
<hr class="hr--short">

  <div class="Vlt-grid Nxd-use-cases">

    <% @data.in_groups(3) do |blogposts| %>
      <div class="Vlt-col">
        <% blogposts.compact.each do |blogpost| %>



        
          <% author = @authors[blogpost['author'].to_sym] %>
          <% category = @categories.find{ |c| c['slug'] == blogpost['category'].downcase } %>
 <%#  {"title"=>"12 Bots To Better Your Open Source Project", "description"=>"12 ways to improve your open source project with Probot and GitHub Actions—enabling you to extend your workflow and customize the way GitHub functions.", "thumbnail"=>"/content/blog/12-bots-to-better-your-open-source-project/Blog_Bots-Better-Opensource_1200x600.png", "author"=>"nahrinjalal", "published"=>true, "published_at"=>"2020-10-28 14:35:06 UTC", "updated_at"=>"", "category"=>"tutorial", "tags"=>["open-source", "hacktoberfest", "bots"], "link"=>"blog/20/10/28/12-bots-to-better-your-open-source-project", "locale"=>"en", "slug"=>"12-bots-to-better-your-open-source-project"}%>
          <div class="Vlt-card Vlt-card--border Vlt-card--lesspadding">
            <div class="Vlt-card__header" style="display: flex; justify-content: space-between;">
              <a
                href="<%= blog_category_path(blogpost['category'])%>"
                class=""
                style="
                  text-transform: uppercase;
                  color: <%= category['color'] %>;
                  font-size: 1.5rem;
                  line-height: 3.25rem;
                  font-weight: bold;">

                < <%= blogpost['category'] %> />
              </a>
            </div>
              
              
            <% if blogpost['tags'].count > 0 %>
              <div style='margin-bottom: 1.5rem;'>
                <% blogpost['tags'].each do |tag| %>
                  <% next if tag.empty? %>
                    <a
                      href="<%= blog_tag_path(tag.downcase)%>"
                      >
                      <small class="Vlt-badge Vlt-badge--<%= tag.downcase %> Vlt-badge--transparent"><span>#</span><%= tag == "Objective_C" ? "Objective-C" : tag.downcase %></small>
                    </a>
                <% end %>
              </div>
            <% end %>


            <div class="Vlt-card__content">
              <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>">
                <p class="p-large"><b><%= blogpost['title'] %></b></p>
              </a>

              <p><%= blogpost['description'] %></p>

              <a href="/<%= blogpost['link'] %>?author=<%= author['short_name'] if author.present? %>" class="Vlt-blue-darker">
                <%= t('read_more') %>
                <svg class="Vlt-icon Vlt-icon--smaller">
                  <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-thin-right" />
                </svg>
              </a>


              <% if author && author['name'] %>
                <hr class="hr--short">

                <div style='display:flex; justify-content: flex-start;'>
                
                  <% if author['image_url'] %>
                    <% if author['image_url'].include? 'gravatar' %>
                      <% url = author['image_url'] %>
                    <% else %>
                      <% url = "#{Blog::Blogpost::CLOUDFRONT_BLOG_URL}authors/#{author['image_url'].gsub('/content/images/','')}" %>
                    <% end %>
                    <%= image_tag url, style: " display: block; width: 4.5rem; height: 4.5rem; border-radius: 50%;" %>
                  <% end %>
                
                  <div style='margin-left: 1.5rem;'>
                    <h5>
                      <%= link_to author['name'], blog_author_path(author['short_name']) %>
                    </h5>
                    <p class='Vlt-grey-darker'>
                      <strong><%= Date.parse(blogpost['published_at']).strftime('%b %d, %Y') %></strong>
                    </p>
                  </div>
                  
                </div>
              <% end %>

            </div>
          </div>
        <% end %>



        
      </div>
    <% end %>
  </div>
<% end %>
