<% category = @blogpost.category %>
<% author   = @blogpost.author %>

<% content_for :canonical do %>
  <%= @blogpost.canonical %>
<% end %>

<div class="max-w-screen-xl mx-auto">

  <!-- Layout tweak for reading time position -->
  <div class="flex-between">
    <div style="width:20%"></div>
    <div style="width:58%">

      <!-- Reading time -->
      <% reading = reading_time_without_code_tags(@blogpost.content) %>
      <% if reading.present? %>
      <div style="display:flex;justify-content: flex-end;">
        <p style="text-opacity: 1; color: rgba(107,114,128,.8); text-align: right;">
          <%= reading %>&nbsp;
        </p>
        <p>
          <svg class="Vlt-icon Vlt-icon--smaller Vlt-grey-darker" style="opacity: .6;">
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-clock"></use>
          </svg>
        </p>
      </div>
      <% end %> <!-- Reading time -->

    </div>
    <div style="width:20%"></div>
  </div>


  <div id="blogpost-show-wrapper" class="flex-between">

    <!-- Author -->
    <div id="author" class="Vlt-card Vlt-bg-white">

      <div class="Vlt-card__image" style="background-image: url('<%= author.url %>'); background-size: cover; min-height: 40vh; background-position: center;"></div>

      <div class="Vlt-card__content">
        <%= link_to blog_author_path(author.short_name), class: "Vlt-blue-darker" do %>
          <h4 class="Vlt-title--icon">
            <svg class="Vlt-icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-pentool" /></svg>
            <%= author.name %>
          </h4>
        <% end %>

        <p style="margin-bottom:16px;"><code><small><%= author.title %></small></code></p>

        <p style="opacity:.6;font-weight: bold;">
          <%= author.bio.truncate(200) if author.bio.present? %>
        </p>

        <%= link_to blog_author_path(author.short_name), class: "Vlt-blue-darker" do %>
          [<%= t('read_more') %>]
        <% end %>
      </div>

    </div>

    <!-- Main Content -->
    <div id="content" class="Vlt-card Vlt-bg-white">

      <!-- Header IMG -->
      <div><%= image_tag @blogpost.header_img_url, class: "border-radius-top" %></div>

      <div class="Vlt-card__content" style="padding:24px;">

   
        <% buttonRootUrl =  'https://dashboard.nexmo.com/sign-up?icid=tryitfree_adpblog-'
          buttonEndUrl = '_nexmodashbdfreetrialsignup_banner'
          blogButtonPath = buttonRootUrl+ params[:blog_path] + buttonEndUrl%>


        <!-- Category tag -->
        <a href="<%= blog_category_path(category.slug)%>" class="category-name" style="color: <%= category.color %>;padding:0 0 16px 0;">
          < <%= category.name %> />
        </a>

        <!-- Title -->
        <h1><%= @blogpost.title %></h1>

        <!-- TAGs -->
        <% if @blogpost.tags.count > 0 %>
          <div style='margin-bottom: 1.5rem;'>
            <% @blogpost.tags.each do |tag| %>
              <% next if tag.empty? %>
              <a href="<%= blog_tag_path(tag.downcase)%>">
                <small class="Vlt-badge Vlt-badge--<%= tag.downcase %> Vlt-badge--transparent"><span>#</span><%= tag == "Objective_C" ? "Objective-C" : tag.downcase %></small>
              </a>
            <% end %>
          </div>
        <% end %>

        <!-- Last Updated at -->
        <% updated = @blogpost.updated_at.present? ? @blogpost.updated_at : @blogpost.published_at %>
        <p class='Vlt-grey-darker'><strong>Last updated on <%= updated.strftime('%b %d, %Y') %></strong></p>
     
             
        <!-- Raw content -->
        <div class="raw_blopost_content"><%= raw @blogpost.content %></div>
          
      </div>

    </div>

    <!-- Related Blogposts -->
    <div class="wrapper-cards" style="">
    <div id="related" class="Vlt-card Vlt-bg-white" style="">

      <h4 style="text-align:center;">Related Posts</h4>

      <div class="header-separator hr--tall Vlt-text-separator Vlt-text-separator--big">
        <span>
          <svg class="Vlt-icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-pentool" /></svg>
        </span>
      </div>

      <% @related_blogposts.each_with_index do |related, i| %>
        <div class="Vlt-card__content">
          <%= link_to "/#{related.link}" do %>
            <h5><%= related.title %></h5>
            <% if related.updated_at.present? %>
              <p class='Vlt-grey-darker'><%= Time.parse(related.updated_at).strftime('%b %d, %Y') %></p>
            <% end %>
            <p class="Vlt-blue-darker">
            [<%= t('read_more') %>]
            </p>
          <% end %>
        </div>

        <% if i != @related_blogposts.length - 1 %>
         <hr class="hr--short" style="opacity:.4;">
        <% end %>

      <% end %>

    </div>
        <!-- Call to Action Card -->
    <div id="card-action" class="Vlt-card Vlt-bg-black">
      
      <div class="rectangle"> </div>
        <span class="square"></span>
      <div class="title">
        <h3 class="title-text" >Start Building</h3>
      </div>
      <p>Start developing in minutes with free credit on us. No credit card required!</p>

      <a href=<%= blogButtonPath%> class="Vlt-btn-blog-sm">
        <img src="/images/icons/rocket-icon-30x30.png" alt="rocket-icon-60x60" >Sign up
      </a>
      <img src="https://s3.eu-west-1.amazonaws.com/developer.vonage.com/blog/sign_up_button/laptop.png"/>
      
    </div>
    </div>
  </div>

</div>