<%= link_to '<< Back to Blogs', blog_path %>

<hr>

<div style="display: flex; justify-content: space-around">
  <div style="width:30%;">
    <% if @author && @author['name'] %>
    
      <% if @author['image_url'] %>
        <% if @author['image_url'].include? 'gravatar' %>
          <% url = @author['image_url'] %>
        <% else %>
          <% url = "https://d226lax1qjow5r.cloudfront.net/blog/authors/#{@author['image_url'].gsub('/content/images/','')}" %>
        <% end %>
      <% end %>


      <% if @author['image_url'] %>
        <%= image_tag url, style: "border-radius: 50%;" %>
      <% end %>
      <h2 class="Vlt-title--icon">
        <%= @author['name'] %>
      </h2>
      <p>
        <%= @author['bio'] if @author['bio'] %>
      </p>
    <% end %>

  </div>


  <div style="width:65%;">

    <% unless @blogposts.count.positive? %>
      <div class="Vlt-callout Vlt-callout--warning">
        <i></i>
        <div class="Vlt-callout__content">
          No Blogpost available
        </div>
      </div>
    <% else %>
      <div class="Vlt-grid Nxd-use-cases">
        <% @blogposts.in_groups(2) do |blogposts| %>
          <div class="Vlt-col">
            <% blogposts.compact.each do |blogpost| %>
               <%= render partial: 'blog/blogpost/blogpost', locals: { blogpost: blogpost, show_category_label: true } %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>



  </div>
</div>

