<div style="display: flex; justify-content: space-around">
  <div id="author-column">
    <% if @author && @author.name %>

      <% if @author.image_url %>
        <div class="gradient-wrapper">
          <%= image_tag @author.url, style: "border-radius: 50%;border: 2px solid white;" %>
        </div> 
      <% end %>
      
      <h2 class="Vlt-title--icon">
        <%= @author.name %>
      </h2>
      
      <% if @author.title %>
        <p><code><%= @author.title %></code></p>
      <% end %>
      
      <% if @author.bio %>
        <p class="">
          <%= @author.bio %>
        </p>
      <% end %>
      
      <h2>
        <svg class="Vlt-icon Vlt-icon--larger">
          <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-pentool" />
        </svg>
      </h2>
    
    <% end # if @author && @author.name %>

  </div>


  <div style="width:70%;">

    <% unless @author.blogposts.count.positive? %>
      <div class="Vlt-callout Vlt-callout--warning">
        <i></i>
        <div class="Vlt-callout__content">
          No Blogpost available
        </div>
      </div>
    <% else %>
      <div class="my-3col-grid">
        <% @author.blogposts.in_groups(2) do |blogposts| %>
          <%= render partial: 'blog/blogpost/blogpost', collection: blogposts, as: :blogpost, locals: { show_category_label: true, show_author: false } %>
        <% end %>
      </div>
    <% end %>



  </div>
</div>

