<% if @show_feedback %>
  <br>
  <hr>
  <br>

  <script>
    window.feedbackProps = {
      code_language_set_by_url: <%= params[:code_language].present? %>,
      code_language: '<%= request.parameters['code_language'] %>',
      source: '<%= canonical_url %>',

      recaptcha: {
        enabled: <%= ENV['RECAPTCHA_ENABLED'] || false %>,
        skip: <%= session[:user_passed_invisible_captcha] || false %>,
        sitekey: '<%= ENV['RECAPTCHA_INVISIBLE_SITE_KEY'] %>',
      },

      <% if @document_path %>
        github_url: '<%= "https://github.com/Nexmo/nexmo-developer/blob/#{ ENV['branch'] || 'master' }/#{@document_path}" %>',
      <% end %>
    }
  </script>

  <% if ENV['RECAPTCHA_ENABLED'] %>
    <% unless session[:user_passed_invisible_captcha] %>
      <div id="recaptcha-container"></div>
    <% end %>
  <% end %>

  <div id="feedback-app"></div>
<% end %>
