<% if @show_feedback %>
  <br>
  <hr class="spacious">
  <br>

  <div class="feedback-container">
    <%= form_for Feedback::Feedback.new, remote: true, format: :js do |f| %>
      <div class="row">
        <div class="columns small-6">
          <h2>Was this documentation helpful?</h2>
        </div>
        <div class="columns small-6 right" id="feedback__improve">
          <% if @document_path %>
            <p>
              <i class="icon icon-github"></i> <%= link_to("Improve this page", "https://github.com/Nexmo/nexmo-developer/blob/master/#{@document_path}", target: "_blank") %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="feedback-basic-fields">
        <%= f.hidden_field :id, value: nil %>
        <%= f.hidden_field :source, value: "#{request.base_url}#{request.fullpath}" %>
        <%= f.radio_button(:sentiment, 'negative') %>
        <%= f.label(:sentiment_negative, '<i class="icon icon-thumbs-o-down"></i>'.html_safe, class: 'sentiment') %>
        <%= f.radio_button(:sentiment, 'positive') %>
        <%= f.label(:sentiment_positive, '<i class="icon-thumbs-o-up"></i>'.html_safe, class: 'sentiment') %>
      </div>

      <div class="feedback-positive-feedback" style="display: none;">
        <p>Great! <a href="#">Give us some feedback</a>.</p>
      </div>

      <div class="feedback-post-feedback" style="display: none;">
        <p>Thank you for your feedback.</p>
      </div>

      <div class="feedback-extended-fields" style="display: none;">
        <hr class="spacious">

        <% unless current_user %>
          <%= f.label(:email, 'Email (optional)') %>
          <%= f.email_field :email, value: @feedback_author ? @feedback_author.email : nil, class: 'input' %>
        <% end %>

        <%= f.label(:comment, 'How could we improve it? (optional)') %>
        <%= f.text_area :comment, class: 'input' %>
        <%= f.submit 'Send Feedback', class: 'button' %>
      </div>

      <% if current_user %>
        <p>Logged in as <%= current_user.email %> - <%= link_to 'Sign out', signout_path %>
      <% end %>
    <% end %>
  </div>
<% end %>
