<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= title %></title>

  <% if @frontmatter && @frontmatter['description'] %>
    <meta name="description" content="<%= @frontmatter['description'] %>">
  <% end %>

  <%
    # Note: We use a different API Key for fontend since Bugsnag gives different project options
    #       depending on the technology that was chosen for the product.
  %>

  <% if ENV['BUGSNAG_JS_API_KEY'] %>
    <% if ['staging', 'production'].include? Rails.env %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
      <script>
        window.bugsnagClient = bugsnag('<%= ENV['BUGSNAG_JS_API_KEY'] %>')
        bugsnagClient.app.releaseStage = '<%= Rails.env %>'
      </script>
    <% end %>
  <% end %>

  <% if ENV['SEGMENT_WRITE_KEY'] %>
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("<%= ENV['SEGMENT_WRITE_KEY'] %>");
      analytics.page();
      }}();
    </script>
  <% end %>

  <% if ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>

  <% if ENV['GOOGLE_TAG_MANAGER_ID'] %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= ENV['GOOGLE_TAG_MANAGER_ID'] %>');</script>
  <% end %>

  <% if show_canonical_meta? %>
    <link rel="canonical" href="<%= canonical_url %>">
  <% end %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if @additional_scripts %>
    <% @additional_scripts.each do |script| %>
      <%= javascript_include_tag script %>
    <% end %>
  <% end %>

  <% if ENV['ENVIRONMENT_SCRIPTS'] %>
    <%= ENV['ENVIRONMENT_SCRIPTS'].html_safe %>
  <% end %>

  <%= javascript_pack_tag 'manifest', defer: true %>
  <%= javascript_pack_tag 'commons', defer: true %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js', async: true, defer: true %>

  <% if ENV['ALLOW_ROBOTS'].nil? || ENV['ALLOW_ROBOTS'] != 'true' %>
    <meta name="robots" content="noindex,nofollow">
  <% end %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Nexmo Developer">
  <meta name="application-name" content="Nexmo Developer">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:url" content="<%= request.base_url + request.fullpath %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= title %>" />

  <meta property="og:image" content="<%= request.base_url %>/assets/images/nexmo-developer-card.png" />
  <meta property="og:image:width" content="835" />
  <meta property="og:image:height" content="437" />

  <% if @frontmatter && @frontmatter['description'] %>
    <meta property="og:description" content="<%= @frontmatter['description'] %>" />
  <% else %>
    <meta property="og:description" content="Everything you need to build connected applications with Nexmo" />
  <% end %>

  <meta name="basic_auth_username" content="<%= ENV['USERNAME'] %>" />
  <meta name="basic_auth_password" content="<%= ENV['PASSWORD'] %>" />
  <meta name="search_url" content="<%= ENV['SEARCH_URL'] %>" />
  <meta name="environment" content="<%= Rails.env %>" />

  <meta name="algolia_application_id" content="<%= ENV['ALGOLIA_APPLICATION_ID'] %>" />

  <% if search_enabled? %>
    <meta name="algolia_search_key" content="<%= ALGOLIA_SECURED_SEARCH_KEY %>" />

    <% ALGOLIA_CONFIG.keys.each do |index| %>
      <meta name="algolia_index" content="<%= index %>" />
    <% end %>
  <% end %>

  <meta name="copyright" content="<%= Time.current.year %> Nexmo, The Vonage API Platform" />

  <%= csrf_meta_tags %>

  
</head>
