<header id="header">
  <div class="container">
    <a href="/" id="logo">
      <span></span>
      Nexmo Developer
    </a>

    <nav data-turbolinks="false">
      <a href="https://nexmo.com">Nexmo.com</a>
      <a href="https://nexmo.com">Support</a>
      <a href="https://nexmo.com">Sign In</a>
      <a href="https://nexmo.com">Try it free</a>
    </nav>
  </div>
</header>

<nav id="subnav">
  <div class="container">
    <a href="/" class="<%= @navigation == :documentation ? 'active' : '' %>">Documentation</a>
    <a href="/api" class="<%= @navigation == :api ? 'active' : '' %>">API Reference</a>
    <a href="/tools" class="<%= @navigation == :tools ? 'active' : '' %>">SDKs &amp; Tools</a>
    <a href="/community" class="<%= @navigation == :community ? 'active' : '' %>">Community</a>

    <%= form_tag '/search' do %>
      <input type="text" id="search" name="query" placeholder="Search" name="query" autocomplete="off" value="<%= @search_term || '' %>">
    <% end %>
    <div id="search-results" style="display: none;"></div>
  </div>
</nav>
