<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body class="<%= theme %>" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <nav class="columns small-12 medium-3 sidenav" data-turbolinks-permanent>
            <% begin %>
              <%= render partial: "layouts/partials/#{@side_navigation}" %>
            <% rescue ActionView::MissingTemplate %>
              <%= navigation_from_content(content: @content, title: @side_navigation_title) %>
            <% end %>
          </nav>
          <div class="columns small-12 medium-9" id="primary-content">
            <%= yield %>
            <%= render partial: 'layouts/partials/feedback' %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
