<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/partials/head' %>

  <body class="Nxd-template" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <nav class="Vlt-sidenav Vlt-sidenav--light" id="Vlt-sidenav" data-turbolinks-permanent>
      <%= directory %>
    </nav>
    <div class="Vlt-main Vlt-main--light Nxd-main" tabindex="2">
      <%= render partial: 'layouts/partials/notices' %>
      <%= yield %>
      <%= render partial: 'layouts/partials/footer' %>
    </div>
  </body>
</html>
