<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body class="<%= theme %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <nav class="columns small-12 medium-3 sidenav" id="sidenav" data-turbolinks-permanent>
            <%= sidenav(@sidenav_root) %>
          </nav>
          <div class="columns small-12 medium-9" id="primary-content" data-turbolinks-permanent data-initial-language="<%= @code_language %>">
            <%= yield %>
            <%= render partial: 'layouts/partials/feedback' %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
