<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body class="<%= theme %>" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="columns small-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
