<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <nav class="columns small-12 medium-3 sidenav" id="sidenav" data-turbolinks-permanent>
            <% if @return_link %>
              <%= link_to @return_link[:path], class: 'sidenav-back', data: { turbolinks: false } do %>
                <i class="icon icon-angle-left"></i> Back to <%= @return_link[:title] %>
              <% end %>
              <hr>
            <% end %>
            <%= navigation_from_content(content: @content, title: @document_title) %>
          </nav>
          <div class="columns small-12 medium-9" id="primary-content" data-turbolinks="false" data-initial-language="<%= @code_language %>">
            <%= yield %>
            <%= render partial: 'layouts/partials/feedback' %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
